[2017-06-11 21:35] MainShayne233 opened #7 "Adding nodes?"
So I started off with the example in the README, and added a simple button that adds a node and link on click:
[code]

But this does not add the node to the graph. It seems like even though the data state is definitely being updated, the nodes aren't being 'processed' by D3 (doesn't have all of the coordinates/D3 specific data added to them). Could maybe be an issue of when D3 is called with the d

[2017-06-11 22:05] MainShayne233 commented on #7
https://github.com/danielcaldas/react-d3-graph/pull/8

[2017-06-12 22:15] danielcaldas commented on #7
Hey nice stuff! Some people have already mentioned to me that support for adding nodes would be awesome. Still, the component architecture is not yet ready to have this behavior :weary:. Still your suggestion is the first step for supporting graph data update, that is rebuilding the nodes and links model each time an update is passed to the component. There is a problem with your approach tough, e

[2017-06-13 01:33] MainShayne233 commented on #7
I definitely imagined that the architecture would fight back a change like this, and totally understand the mistake now involving `componentDidUpdate`. Though it could become a state management nightmare, one solution could involve storing the initial data in the state, and then doing a manual diff to check for new/altered data, and then telling D3 about any new data if found. This is definitely a

[2017-07-31 23:39] danielcaldas commented on #7
Now data updates are reflected on the graph 😃
#9

[2017-07-31 23:39] #7 closed

[2017-09-11 22:08] SDobrik opened #13 "Unable to change/set the attributes of individual links for a graph"
When trying to change/set any attributes other than source and target the links do not change the other attributes. Following the issue to the source I think it came from the `_buildLinkProps` function in `components/Graph/helper.js`  which doesn't have the entirety of attributes for links passed in.

Only particular attributes in _buildLinkProps are set by a shared config, for example `var stroke

[2017-09-12 17:28] danielcaldas commented on #13
Hey @SDobrik thanks for reaching out!

First, let me ask you, are you able to replicate this issue by playing around with the rd3g configurations [here](https://danielcaldas.github.io/react-d3-graph/sandbox/index.html)?
And could you provide your full implementation so that I can have an overall perspective of your usage of rd3g?

[2017-10-11 02:14] #13 closed

[2017-10-20 09:27] scoutrul opened #23 "How to set width/height config to 100% ?"
subj

I want do this:
    width: 100vw
    height: 100vh

[2017-10-20 09:41] scoutrul opened #24 "Squeezing if "staticGraph": true"
If I set static Graph, then all lines and nodes have zero at x,y,z propertys that makes picture squeeze.

[2017-10-20 09:47] scoutrul opened #25 "How can I get onMouseOverLink event?"
Here is available methods like:
onClickNode
onClickLink
onMouseOverNode
onMouseOutNode

but have not onMouseOverLink which very need.

[2017-10-20 18:39] danielcaldas commented on #25
Hi @scoutrul! That is indeed a method that I can simply expose, You can certainly count on that on some next release of rd3g. Meanwhile feel free to submit a PR with this new feature. I will tag this as an enhancement for now 👍

[2017-10-20 19:15] danielcaldas commented on #24
Correct, if you look closely to the [documentation](https://danielcaldas.github.io/react-d3-graph/docs/index.html#config) you will read this entry on **staticGraph**:

-   `staticGraph` **[boolean](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean)** when setting this value to true the graph will be completely static, thus all forces and drag events upon node

[2017-10-20 20:01] danielcaldas commented on #23
rd3g API is currently only accepting `number` values on `width` and `height`, I would advise you to get `innerWidth` and `innerHeight` values from `window` and pass it in your `config`.

[code]

[2017-10-21 17:13] #24 closed

[2017-10-21 18:02] danielcaldas commented on #24
@scoutrul react-d3-graph v0.3.0 fixes this problem https://github.com/danielcaldas/react-d3-graph/releases/tag/0.3.0, thanks for reporting 👍

[2017-10-25 20:13] singhxp opened #28 "I am am unable to set node.symbolType"
the data i generate looks like this
{ id: 'Compiler', color: '#b41500', symbolType: 'square' },
  { id: 'Publications', color: '#b41500', symbolType: 'square' },
  { id: 'IBM AIX', color: '#b41500', symbolType: 'square' },
  { id: 'Wireless', color: '#b41500', symbolType: 'square' },
  { id: 'Local Area Network',    color: '#b41500',    symbolType: 'square' },
  { id: 'Intrusion Detection',     co

[2017-10-25 20:58] danielcaldas commented on #28
First of all, make sure you have installed the [latest version](https://github.com/danielcaldas/react-d3-graph/releases/tag/0.3.0) of react-d3-graph that is v0.3.0. As you can see from the [changelog](https://github.com/danielcaldas/react-d3-graph/releases/tag/0.3.0) a bug fix comes along with this version that concerns that exact behavior.

If this is not the case, can you post some more code so

[2017-10-26 10:02] scoutrul commented on #25
Hello! How it is going?

[2017-10-26 14:47] singhxp commented on #28
You can close this issue, not a real issue after updating to 0.3.0 , I was able to see
![image](https://user-images.githubusercontent.com/25234213/32059412-0fbfbf20-ba3a-11e7-8f45-55236af50229.png)

Side question, If I want to change it to my own ICONS, do you have any example code you can point to. My knowledge of d3 symbol is limited .

for example i have icon <i className="icon-user icons font-

[2017-10-26 14:53] singhxp commented on #25
when I click on a link , is there a way to show links type
currently  onClickLink , shows me the target and source.
links: [          {source: 'Harry', target: 'Sally'},          {source: 'Harry', target: 'Alice'},      ]

I would like to show the id value
links: [          {source: 'Harry', target: 'Sally' , id: 'friends'},          {source: 'Harry', target: 'Alice' id:'family'},      ]

[2017-10-26 15:05] scoutrul commented on #23
yes, that is good enaugh!

[2017-10-26 15:05] #23 closed

[2017-10-26 21:00] danielcaldas commented on #28
Good to know that is working for you. Can you please place your other question about icons in a new issue so it's easy to document and to track, thanks 👍

[2017-10-26 21:00] #28 closed

[2017-10-26 21:06] danielcaldas commented on #25
Hey there @scoutrul! I'm keeping this issue on standby mode for a while longer (maybe 1 to 3 weeks), I think it is a good issue to someone else pick up, maybe you should give it a try 😉. If by that time no one picks this I will certainly do it and release new version so that this new methods are available.

@singhxp Sorry but that question is out of scope here. Can you please place your question o

[2017-10-27 17:30] JimmyMow opened #29 "Node version"
Required Node version is low. Any chance you could be more flexible?

Potentially: `>=6.x` or something

[2017-10-28 11:20] singhxp opened #30 "link id info"
When I click on a link, is there a way to show links type?
Currently, onClickLink method shows me the target and source.
links: [ {source: 'Harry', target: 'Sally'}, {source: 'Harry', target: 'Alice'}, ]

I would like to show the id value
links: [ {source: 'Harry', target: 'Sally' , id: 'friends'}, {source: 'Harry', target: 'Alice' id:'family'}, ]

[2017-10-28 11:23] singhxp opened #31 "Adding new symbols on the graph"
I have the symbol working which display on the graph. If I want to change it to my own ICONS, do you have any example code you can point to. My knowledge of d3 symbol is limited .

for example i have icon <i className="icon-user icons font-2xl d-block mt-4/>"

[2017-10-29 16:10] danielcaldas commented on #29
Hey there @JimmyMow, I actually tested react-d3-graph with latest LTS node version `6.11.5` so the specification you suggested is indeed more accurate. Thank you, this will soon be updated :+1:

[2017-10-29 16:16] danielcaldas commented on #31
As you can see in the Node component render method ([link](https://github.com/danielcaldas/react-d3-graph/blob/master/src/components/Node/index.jsx#L69)) the component will always fall back to some kind of d3 symbol, to see all available node symbols you can consult [react-d3-graph documentation](https://danielcaldas.github.io/react-d3-graph/docs/index.html#config) `node.symbolType` config section

[2017-10-29 16:27] danielcaldas commented on #30
IMO this is more a client-side problem, not a rd3g misbehavior, you could simply have a mapping data structure where you store all your links where the `id` is composed of the `source` and `target` link attributes. Then you could access that data structure and show whatever you want. Example below.

[code]

[2017-11-01 22:58] danielcaldas commented on #29
Updated in #32. Closing this.

[2017-11-01 22:58] #29 closed

[2017-11-06 00:13] singhxp opened #33 "Graph filter on symbol or nodes or links"
I am looking a easy way to call a method which will filter on Nodes, Symbol or Links. Pass in the any of them and Graph get redrawn . I was able to delete the node and redraw the graph using following code:

onClickNode = (id) =>{
        console.log(id);

        if (this.state.data.nodes && this.state.data.nodes.length) {

          var index=this.state.data.nodes.map(function(x){ return x.id; }

[2017-11-07 00:16] singhxp commented on #33
Any way force to redraw the graph with new state data , if I have new data inside my componentWillUpdate lifecycle?

Uncaught Error: react-d3-graph :: Graph :: you provided a invalid links data structure.    Links source and target attributes must point to an existent node - HR is not a valid node id

[2017-11-07 18:18] danielcaldas commented on #33
The code you presented above has the correct "workflow", basically, you need to filter yourself want you don't want to show on the graph, thus you need to remove all the nodes and respective links from you graph data structure.

The error you are getting is the result of bad data updates. In that case, you probably tried to remove the node `HR` but you did not remove all the `links` that point to

[2017-11-14 17:32] pradeep4321 opened #36 "SVG image for node"
Can we support SVG images in place of D3J shapes for Nodes.

[2017-11-14 23:18] danielcaldas commented on #36
This is a repeated feature request https://github.com/danielcaldas/react-d3-graph/issues/31. Still I think an approach where we specify SVG's to customize nodes it's the way to go, that's why I'll introduce a little more detail on this issue.

So this feature could basically be achieved by passing down to nodes some *svg* or some *path* to render instead of some d3 shape. We would have something l

[2017-11-15 13:38] pradeep4321 commented on #36
I think the x,y location used to draw the SVG us top left corner of SVG image, if we fix the location to centre the image will look fine. i am checking this.

[2017-11-17 02:39] yuefeic opened #37 "Popup/tooltip when hover over or click a node or edge"
Can you give some examples on how to show node or edges attributes as popup or tooltip in hover or click event? Thanks

[2017-11-17 09:24] danielcaldas commented on #37
Sure, react-d3-graph has a cool [playground](https://danielcaldas.github.io/react-d3-graph/sandbox/index.html) where the source code is exposed in [sandbox/Sandbox.jsx](https://github.com/danielcaldas/react-d3-graph/blob/master/sandbox/Sandbox.jsx#L44), so that people are able to read the source code for the presented integration.

More concretely answering to your question, you can achieve those

[2017-11-18 00:06] danielcaldas commented on #25
Removing `wontfix` tag, will pick up this next.

[2017-11-18 18:26] danielcaldas commented on #31
Marked as duplicated. @singhxp In order to provide custom images to nodes the issue to follow is now https://github.com/danielcaldas/react-d3-graph/issues/36.

[2017-11-18 18:26] #31 closed

[2017-11-25 00:28] danielcaldas commented on #25
This is completed 🎉 https://github.com/danielcaldas/react-d3-graph/pull/40. A release is being scheduled where this new feature will be available. @scoutrul @singhxp

[2017-11-25 00:28] #25 closed

[2017-11-25 17:28] #30 closed

[2017-11-30 21:10] corganfuzz opened #41 "Click one node but another one moves"
When I select(clicked) an specific node and try to drag away from the others another node moves.
In this screenshot I try to move node #253 but the one that moves is node #250 (weird)

<img width="689" alt="screen shot 2017-11-30 at 3 03 36 pm" src="https://user-images.githubusercontent.com/11259414/33454918-fc5aed08-d5df-11e7-9326-c84c04a7178a.png">

now, the issue doesnt happen If I use 3 or nod

[2017-12-01 18:24] danielcaldas commented on #41
Hello, @corganfuzz thanks for the feedback. This is indeed a problem when defined nodes `id`'s are numeric values. There is already a work in progress solution for this, this will certainly be included in the next release of react-d3-graph that I have scheduled for this weekend. Regarding the other question that you mentioned can you please open a separate issue so that it stays properly documente

[2017-12-01 19:08] corganfuzz commented on #41
Awesome. Yeah numeric data is coming from a GraphDB database which has  number values for ids, source, target which I think it's pretty much GraphDB default.

Thanks for the quick response, I will open a separate issue for group color assignment

[2017-12-01 19:44] corganfuzz opened #43 "Ability to group nodes by color"
It will be really useful to have an option for nodes in which you can group them by color, maybe in MyConfig where you can group them as a category and assign them each a color.

For example,
[code]
so myConfig would look like this:
[code]

[2017-12-02 15:57] danielcaldas commented on #43
Hey there @corganfuzz thanks for putting this on a separate issue. IMO this kind of functionality could be easily achieved with a single line of code since react-d3-graph allows you to set a color to each node ([see docs *Node level configurations*](https://danielcaldas.github.io/react-d3-graph/docs/index.html)) on the client side, with something like:

[code]

Also because the main purpose of `re

[2017-12-02 16:12] corganfuzz commented on #43
Cool. Thanks for this. Really useful stuff. Will try it in my current example

[2017-12-02 19:09] danielcaldas commented on #41
Fixed with #42 and will soon be released in `react-d3-graph@1.0.0`

[2017-12-02 19:09] #41 closed

[2017-12-04 19:31] #33 closed

[2017-12-14 10:36] #37 closed

[2017-12-27 17:46] sfbrunner opened #46 "Best way to add tooltip"
Hi Daniel,
Really enjoying your React library! I was just wondering, do you have a recommended way of adding a tooltip (using one of the available tooltip libraries) to a graph generated with your approach? Would be very helpful if you could point me to an example.
Thanks!
Simon

[2017-12-29 17:45] #43 closed

[2018-01-02 22:25] danielcaldas commented on #46
Hi there Simon!

Would you please look into [this example](http://www.petercollingridge.co.uk/interactive-svg-components/tooltip) of tooltip on svg elements and let me know if this matches your expectations regarding a tooltip on graph's nodes? If yes that I'll tag this as a feature request, IMO this is a cool feature and I'm looking forward to providing something similar in react-d3-graph API.

[2018-01-06 19:47] sfbrunner commented on #46
Hi Daniel,
Thanks for your response! I like the example that you sent. I just think that it would help to have a more general access to each D3 node. For example I liked this example: https://bl.ocks.org/d3noob/257c360b3650b9f0a52dd8257d7a2d73 . Do you think something like this is possible within your library?
In terms of libraries that are interesting to connect to, I really liked: http://qtip2.c

[2018-01-06 19:49] sfbrunner commented on #46
Oh, just also remembered, if you could add a "ref" to each node (in addition to "id") then that would help being able to access each node as an element within React. Do you think that's easily feasible?

[2018-01-08 23:02] danielcaldas commented on #46
Good stuff there with the qtip2 reference. That would be a way to go, still I'm looking for a more generic solution were react-d3-graph wouldn't end up stuck with a specific styling, instead, I would like to parameterize some properties to style the tooltip (a more simple one such the one you reference in https://bl.ocks.org/d3noob/257c360b3650b9f0a52dd8257d7a2d73). The config would look something

[2018-01-26 08:55] dmh126 opened #47 "Links labeling"
Hello!
Is there any possibility to add labels to links? I'd like to have structure like that:
[code]
And I want to create something like I have in my neo4j browser:
![relationships](https://user-images.githubusercontent.com/7457276/35431795-42609e0e-027e-11e8-812e-493c433479db.png)

If not label, at least I'd like to have different colors, like we can do with nodes, simply by adding "color: value"

[2018-01-26 22:27] danielcaldas commented on #47
Hello @dmh126!

These are two different feature requests, I'll tell you what you need to know about it:

1 - Adding a label - Regarding this one, it may be difficult to implement this at this moment, still it would be a nice capability to add on rd3g. You could have something like what you suggested and in the `Link` component expose that label, something like [this example](http://bl.ocks.org/don

[2018-01-29 15:33] aurbano opened #48 "Different stroke on each node"
It would be nice to be able to set the stroke color per node, in a similar way to the fill color:

Current fill color code:
[code]

Current storke color code:
[code]

I'd send you a PR to this but I'm not sure if you want to handle it differently

[code]

[2018-01-29 21:05] danielcaldas commented on #48
@aurbano that should be the way to handle it, a similar approach to what is done in node `color` prop. If you could open a PR with this would be awesome 👌

[2018-02-15 22:38] ravisraval opened #51 "Graph Rerendering"
I'm a big fan of your work on the react-d3-graph, and I'd love a little help! I'm pretty new to programming in general, so apologies for any dumb questions. I'm trying to make a graph that displays & animates several tree traversals (bfs, etc.).

The graph doesn't rerender when I expect it to do so.
For instance, when I change the react component's state to designate the next node (during traversa

[2018-02-15 23:02] danielcaldas commented on #51
Hello @ravisraval!

Somewhere along the road, I implemented a `componenWillReceiveProps` react hook in order to prepare data for updates and avoid updates when unchanged data is passed down. I decided to properly handle this by making a few changes
and release this asap as a bug fix.

### So.. new expect behaviours should be
- Clients are able to pass down graph (node, links) data and see the chan

[2018-02-16 00:05] ravisraval commented on #51
Sweet! Looking forward to it.

[2018-02-18 21:31] danielcaldas commented on #51
Fixed with release `react-d3-graph@1.0.1`

[2018-02-18 21:31] #51 closed

[2018-03-01 08:58] rayaqin commented on #36
pradeep4321 did you manage to make it work and look fine?

[2018-03-08 15:35] StevenLangbroek commented on #47
I'm struggling to find integration points for this library, imho this would ideally work something like this:

given links:

[code]

expose a `renderLink` prop on the main `Graph` object:

[code]

Thoughts?

[2018-03-08 16:03] StevenLangbroek opened #54 "labelProperty not implemented?"
As far as I can tell `labelProperty` getter hasn't been implemented. Am I missing something? If not, would you like a PR to implement it?

[2018-03-10 21:49] #48 closed

[2018-03-18 18:34] danielcaldas commented on #54
Hello there @StevenLangbroek!

Yes, it is implemented indeed. But please note that `node.labelProperty` is a config value that you must provide within some config object passed into `Graph` component. In the below examples `name` should be the label rendered alongside with the node.

[code]

[2018-03-18 22:33] slackermorris opened #57 "custom add node button"
Hi Daniel, I presume that this is an annoying and amateur question to ask (of which I am both, unfortunately), but I am trying to use your library and want to add a custom button for adding nodes. However, when I try to change the data (using setState nodes and links) that a Graph is receiving as props, I get an error:

![image](https://user-images.githubusercontent.com/35620369/37571988-3fe976b4-

[2018-03-18 22:46] danielcaldas commented on #57
Hi there @slackermorris no such thing as an amateur question. In this case, I think you could look closer to your code and pay attention to details. Notice that in `newData = { newNodes, newLinks };` you are breaking the data contract with `react-d3-graph`. All should be fine if you keep the properties naming correctly along the way.

[code]

[2018-03-18 22:46] #57 closed

[2018-03-21 06:56] dee-el opened #58 "can the graph nodes and line not stacked"
first of all, i like this modules, its fulfilling my simple graph right now
but there is something i don't like it. all the nodes and lines is stacked each other
can the nodes have their coordinate, or simply put their coordinate on the data?

Edit: also will it better if each link have each strokeWidth?

[2018-03-21 17:18] danielcaldas commented on #58
Hello @dee-el. Yes nodes can have their own coordinates you just need to provide `x` and `y` on the graph data initialization.

`also will it better if each link have each strokeWidth?` They could have, currently you can only override globals config for the properties that have this mark 🔍🔍🔍 on the [react-d3-graph documentation](https://danielcaldas.github.io/react-d3-graph/docs/index.html#node-se

[2018-03-22 07:06] dee-el commented on #58
Hi, @danielcaldas, I don't understand about `provide x and y on the graph data initialization.` part.
Is that mean on props `data`, i can put it like
nodes: [{id: 1, label: 'label1', x: 1, y: 10}] ?

[2018-03-22 10:08] danielcaldas commented on #58
That is correct. For it to work properly you will also have to set the config `staticGraph` to `true` in order to *freeze* nodes positions to the ones you provided initially, check [docs on staticGraph](https://danielcaldas.github.io/react-d3-graph/docs/index.html) for more information on this.

[2018-03-26 22:30] danielcaldas commented on #47
@StevenLangbroek I see what you mean there, still, the whole concept of `react-d3-graph` is for you not to need to care about how `svg` elements are built, thus they are abstracted in this library. For this to work properly we need two things:

**1. Allow clients to unitarily define links and nodes** [*Out of scope in this Issue*]
At the moment some props that you pass into the `Graph` component i

[2018-03-27 18:40] corganfuzz opened #59 "Request for nodes to repeal each other"
Is there anyway, the nodes can repeal each other so they won't overlay and labels could be read better ?  I've done this on vis.js, they have as physics inside options.

See example [here](http://crubier.github.io/react-graph-vis/)

[2018-03-27 21:26] danielcaldas commented on #59
I think [d3-force](https://github.com/d3/d3-force) has real potential when it comes to that kind of implementation, we could explore [this sample implementation](https://bl.ocks.org/mbostock/ad70335eeef6d167bc36fd3c04378048) and fine-tune d3 implementation within rd3g to have this behavior, what do you think @corganfuzz ?

[2018-03-29 23:17] corganfuzz commented on #59
I think that's exactly what I need.

[2018-03-30 19:55] danielcaldas commented on #36
@pradeep4321 and @rayaqin and for others that might be interested, I'll be picking this up, already have an implementation in mind where rd3g users will be able to provide either a resource reference to some svg or even providing some jsx that holds the desired svg representation.

[2018-03-30 21:58] #46 closed

[2018-04-01 21:15] danielcaldas commented on #36
@pradeep4321 @rayaqin Closing this issue, `react-d3-graph@1.2.0` allows for clients to provide custom svg for nodes.

[2018-04-01 21:15] #36 closed

[2018-04-05 10:38] jonseager opened #63 "100% Width/Height of parent element"
Hi,

How do I best make the graph occupy 100% width/height of its parent element?

Thanks

[2018-04-05 15:31] danielcaldas commented on #63
Hello @jonseager, this was already discussed here https://github.com/danielcaldas/react-d3-graph/issues/23

[2018-04-05 15:31] #63 closed

[2018-04-22 22:08] TomReidNZ opened #67 "node module errors"
Hi, I'm getting errors when I try to run react-d3-graph.
d3-zoom and d3-drag give me errors of "can not read button property of null)

and recently I've got an error of:
"react-d3-graph :: Graph :: you have not provided enough data for react-d3-graph to render something. You need to provide at least one node"

Although there definitely is multiple in the initial payload.

Any ideas?

[2018-04-22 22:46] danielcaldas commented on #67
Hi there @TomReidNZ, regarding the error `can not read button property of null` do you get this when running your application or when running the rd3g in development mode?

Regarding the initial data issue, could you share the code or repository where you're using rd3g so that I could take a look? I'm not aware of any regression regarding this, It could be related to the way you are integrating rd

[2018-04-24 00:30] TomReidNZ commented on #67
Hi @danielcaldas, the initial data issue only really seems to come up when everything else is crashing.

The ``` Uncaught TypeError: Cannot read property 'button' of null ``` is in development mode and build.

The repo I'm currently using is https://github.com/TomReidNZ/d3/tree/Form-Rework

Thanks, Tom

[2018-04-24 21:54] danielcaldas commented on #67
Hello again, @TomReidNZ, just had the opportunity to look into that repo of yours and I identified the two main problems.

It seems that you are not using `Graph` component from `react-d3-graph`, instead, you are implementing you own component [right here](https://github.com/TomReidNZ/d3/blob/Form-Rework/ClientApp/src/graph_components/components/graph/index.jsx). This could bring undesired and bre

[2018-04-24 22:02] danielcaldas opened #68 "Declare d3 and react as peerDependencies"
`react-d3-graph` should declare `d3` and `react` as [peer dependencies](https://docs.npmjs.com/files/package.json#peerdependencies). At the moment clients might be using different versions of d3 or react in their applications without being aware that this can be the cause of breaking behaviour due to versioning incompatibilities issues.

To consider that this deps are also needed for development,

[2018-04-27 19:12] #54 closed

[2018-05-01 11:34] #58 closed

[2018-05-09 00:01] #59 closed

[2018-05-12 01:06] #68 closed

[2018-05-12 08:03] Finbel opened #71 "custom color on links"
Saw your answer here https://github.com/danielcaldas/react-d3-graph/issues/47 but didn't get it working. I basically want to define color on link level.

[2018-05-12 12:25] danielcaldas commented on #71
Hello @Finbel, yes the comment on #47 has a solution proposition for this, but it was not yet implemented. I think it's a good first issue, will tag this issue. Feel free to submit a PR for this.

[2018-05-12 23:11] iamhosseindhv opened #73 "BUG: NO LINK GETS HIGHLIGHTED WHEN NODE ID IS NON-STIRNG"
Background: All nodes are identified by their `id`. In your SandBox example, a node's `id` is of type `string`. However, I'd like to use a unique number instead of `string`,  since two nodes may have the same name, but it doesn't necessarily mean that they are the same. Currently, if I do use a number, this line causes `mainNodeParticipates` to be always `false`, because of the `===`. As a result,

[2018-05-12 23:35] danielcaldas commented on #73
Hello @iamhosseindhv, you can use type `Number` as node identifiers, just make sure that `source` and `target` are also `Number` so that your graph data is consistent and cross-referring it within rd3g works as expected. Removing `===` is not a good practice as we would be allowing mixing data types where there's no need for it. Try this small data model on the Sandbox and try to compare it agains

[2018-05-13 00:45] iamhosseindhv commented on #73
Thanks. But I was using a similar data model with target and source as `Number`. I tried loading the sample data you provided above but still no link gets highlighted.
Also, in function `buildLinkProps` in `graph.helper.js`, I tried logging the type of `source`, `target` and `highlightedNode`, and got `string`, `string` and `number`, respectively. So Again, `mainNodeParticipates` in [this line](ht

[2018-05-13 11:48] danielcaldas commented on #73
I see.. Do you have a sample code or repository that I can take a look at? It would be much easier to debug.

[2018-05-13 19:35] iamhosseindhv commented on #73
My pleasure. Thanks for the great work you put into this project ❤️

[2018-06-03 22:12] #67 closed

[2018-06-13 00:08] JosephMart opened #76 "Question: Possible to specify order/layout?"
Is it possible to specify the layout of the nodes in relation to each other?

Thanks,
JM

[2018-06-15 22:40] danielcaldas commented on #76
Hello @JosephMart currently sorting is not supported either for nodes or links, they are stacked by the order the renderer returns them, but still that would be quite simple to implement although some performance impact would be expected, please feel free to submit a PR for this and we can work it out from there!

[2018-06-18 11:23] Sana75 opened #77 "No documentation available for dynamic loading of graph"

[2018-06-18 11:24] Sana75 opened #78 "Graph position is fixed no options to change the view like radial, circular"
Position is always random

[2018-06-18 21:49] danielcaldas commented on #77
Hello @Sana75! Can you please provide a description of the issue? Thanks!

[2018-06-18 21:55] danielcaldas commented on #78
Hello again @Sana75! You can provide your own positioning for nodes and links, check [documentation](https://goodguydaniel.com/react-d3-graph/docs/index.html#node-section) about the `staticGraph` property.

[2018-06-21 13:46] #71 closed

[2018-06-26 01:27] rxd65410 opened #80 "Thank you so much for this graph component. I have a quick question... Can we have directed arrows between the nodes?"

[2018-06-26 13:19] danielcaldas commented on #80
Hello @rxd65410 thanks for your feedback, directed graphs are already a work in progress, I'm working on it. You will be able to specify whether or not your graph is directed and automatically arrows will appear on the links to point the relation direction.

[2018-06-26 13:19] #80 closed

[2018-06-28 16:11] LonelyPrincess opened #81 "Error re-rendering Graph when no `config` prop is set"
I was stuck with this error for a while, until I finally found out what was causing it. Details on the error and the current workaround are listed bellow, just in case it can be of use to someone else who's struggling with the same problem.

## Problem description

By the time I got the error, my `Graph` component was looking like this:

[code]

When I run the application for the first time, the g

[2018-06-28 20:43] danielcaldas commented on #81
Hey there @LonelyPrincess, nice report, you identified with good precision the issue. Regarding the solution for this, `componentWillReceiveProps` is the proper place to handle this we need to check if the client provided a config (in `nextProps.config`) and simply fallback to an empty object if that isn't the case.

Fell free to submit a PR for this, nice job!

Thanks!

[2018-06-28 21:43] LonelyPrincess commented on #81
No prob! I'm glad to be of assistance! 😊

I've just uploaded two commits addressing this same issue in my fork repo:

* The [first one](https://github.com/LonelyPrincess/react-d3-graph/commit/9279a3fd0e06d21731a2d6185d59407bac394ff9) is pretty much what you described. If the received props don't include `config`, we work with an empty object instead. This approach keeps most of the code exactly as

[2018-06-28 22:21] #78 closed

[2018-07-01 21:12] danielcaldas commented on #81
I prefer the [first one](https://github.com/LonelyPrincess/react-d3-graph/commit/9279a3fd0e06d21731a2d6185d59407bac394ff9), it is cleaner than the second one, the performance gain with the second option is not substantial since we check for empty object with `isObjectEmpty` before proceeding with the more expensive operations.

Nice one :+1:

[2018-07-02 20:31] danielcaldas commented on #81
Fixed with #84

[2018-07-02 20:31] #81 closed

[2018-07-10 14:42] rxd65410 opened #85 "Can we change the shape of graph from circular to compact tree ?"
Thank you so much for react-d3-graph. As of now i can see the graph is displayed in circular shape
<img width="407" alt="screen shot 2018-07-09 at 2 44 49 pm" src="https://user-images.githubusercontent.com/22160021/42517523-8264058a-8425-11e8-9c32-f997f32cb271.png">

Can we change this to compact tree shape like this?
<img width="608" alt="screen shot 2018-07-09 at 2 47 24 pm" src="https://user-im

[2018-07-10 16:48] danielcaldas commented on #85
Hello @rxd65410! react-d3-graph does not offer an out of the box way of displaying the graph as a compact tree or any other tree-like form. Still, you are able to specify the positions of each node thus you as a client have the power to manipulate the way you display the graph. Check this issue hope it helps https://github.com/danielcaldas/react-d3-graph/issues/51

[2018-07-10 21:01] danielcaldas commented on #85
Good luck with that. Regarding the `staticGraph` you won't be able to drag and drop, but you can still zoom (`panAndZoom` will work as well). The best way for you to check the ways of working of react-d3-graph is to try and play around with the [sandbox user interface](https://goodguydaniel.com/react-d3-graph/sandbox/index.html).

[2018-07-11 15:44] madanagopal opened #86 "Additional attributes property to Node and Link"
Hello,

I really like this project module. Easier to implement with documentation.
I was wondering about the graph payload and its short comings.

const data = {
    nodes: [{ id: 'Harry' , attributes: {name: 'Harry', age: 25}}, { id: 'Sally', attributes: {name: 'Sally', age: 20}}],
    links: [{ source: 'Harry', target: 'Sally', attributes: { // additional info on the link}}]
};

Can something li

[2018-07-11 21:56] danielcaldas commented on #86
Hi there @madanagopal! Indeed the callbacks for nodes and links simply send back the `id` and `source`, `target` pair respectively. This approach makes it more extensible and lightweight the callback simply delegates the responsibility of data manipulation to the client. I have one suggestion for you, please let me know what you think about it:

1. Store in your state a object that maps node is to

[2018-07-12 11:48] madanagopal commented on #86
Do links send back id, source and target? I see only source and target sent.

[2018-07-12 16:30] danielcaldas commented on #86
Links send back `source` and `target` only, you can see this as a composed key like `"source+target"` that uniquely identifies a connection.

[2018-07-13 14:08] larsbuch opened #88 "Links with directional arrow"
As links have a direction it would be nice to be able to see that direction fx by an arrow

[2018-07-13 14:20] larsbuch opened #89 "Directional links are placed on top of each other"
Directional links are placed on top of each other where Link1 (from Node1 to Node2) is placed on top of Link2 (from Node2 to Node1). It would be nice with a bend so it is distinguishable on the interface

[2018-07-15 22:43] danielcaldas commented on #88
Duplicate from https://github.com/danielcaldas/react-d3-graph/issues/80, I'll be working on this next week

[2018-07-15 22:57] danielcaldas commented on #89
Hi @larsbuch thanks for the feedback this is a good addition to the directional graphs feature. It's a work in progress.

[2018-07-16 01:16] larsbuch commented on #88
Sorry. I did not see #80 when looking at the issues.

[2018-07-16 01:20] larsbuch commented on #89
I will look foreward to the change and test it when ready. Would you please note it here when it is checked in?

[2018-07-16 11:03] danielcaldas commented on #89
Sure thing @larsbuch

[2018-07-18 09:50] vivek1623 opened #90 "i want to customise node. is it possible ?"
i want to use my custom node in graph. is it possible ?

[2018-07-18 13:34] vivek1623 commented on #90
Using svg is fine. But I want to customize node using html.

[2018-07-18 23:06] danielcaldas commented on #48
Duplicate of https://github.com/danielcaldas/react-d3-graph/issues/71 and closed with PR #79

[2018-07-19 05:31] vivek1623 commented on #90
i want to create a workflow diagram (bot builder) for intent and entity, where user can  add , update and node. each node has some title, type, and other information. your libaray is giving me a best base to start this module but for ui perspective, i need to change node. it is very similar to botbuilder for kore.ai.

[2018-07-19 14:38] danielcaldas commented on #89
Hello @larsbuch! Coming back with some progress, a working version of bending links is available at this branch https://github.com/danielcaldas/react-d3-graph/tree/feature/bend-links you can already check it out. To make links bend you just need to pass down a config value for `link.type` it can be one of the following "STRAIGHT", "CURVE_SMOOTH", "CURVE_FULL".

[2018-07-19 15:08] danielcaldas commented on #90
Hmm I see @vivek1623 . So I that a small POC on this where I'm enabling the nodes to receive custom HTML and then I inject it within a [<foreignObject>](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/foreignObject) tag. So this basically gives clients the power to do whatever they want in the node label are with HTML and CSS, you can write specific presentation components to display in t

[2018-07-19 19:25] larsbuch commented on #89
I will test it in the weekend

[2018-07-20 10:44] vivek1623 commented on #90
but graph are very near in default position. is there way to spread it. my flow diagram should look like [https://github.com/DrummerHead/react-flow-diagram](url) this.

[2018-07-25 20:15] danielcaldas commented on #90
I'm not able to access the link you shared. Still, if I understood correctly you want nodes to be spread, that is possible since you can set a position for each node placing them apart from each other.

[2018-07-25 20:21] danielcaldas commented on #89
Closing this with #91

[2018-07-25 20:21] #89 closed

[2018-07-25 23:00] #86 closed

[2018-07-26 00:00] #76 closed

[2018-07-27 20:56] madanagopal opened #93 "Compatibility issue with react 16.2.0"
Hi, is there any plan to make the project compatible with the latest react?

[2018-07-27 22:10] danielcaldas commented on #93
Hi there @ufo2mstar currently react-d3-graph has as peer dependency `react@16.4.1` and it's working properly. Still this was not yet released but you can target master branch and test it to see if it suits your needs.

[2018-07-27 22:16] madanagopal commented on #93
Should i try updating react-d3-graph to 16.4.1 and upgrade my project too?

Pretty new to resolving these issues.

Thank you again for the awesome pkg.

[2018-07-28 05:06] wulucxy opened #94 "how to add zoom props？"
Hi，@danielcaldas Thanks for the great product，it really help a lot。

Beyond the feature provided，I need more precisely control of the **zoom** to the graph，now you can only control the zoom the mousewheel，but there is always demand for control by other user action，like click `zoom out` button。

so，do you have any plan to add this feature？

[2018-07-28 18:05] danielcaldas commented on #93
I've seen many projects using react-d3-graph@1.3.0 with react version 16.4.x so if you just update to react latest you should be good to go although it's not officially supported as I said in the previous comment.

[2018-07-28 18:12] danielcaldas commented on #94
Hello there @wulucxy, glad it's useful. It's a pretty obvious feature indeed controlling zoom with other actions. Today you are able to double click to zoom, did you tried that? It is provided out of the box by the browser or d3 I'm not quite sure of the nature of the feature.

Regardless, I would challenge you to leave here a few suggestions of specific controls for zooming, or we could also go w

[2018-07-28 22:35] #77 closed

[2018-07-29 08:00] wulucxy commented on #94
Hi，@danielcaldas，I mean how can I control the zoom scale by `outside props`，not only by `inner state`。

Like I have three buttons，one for `zoomIn`，one for `zoomOut`，one for `reset`，I think this is a general UI case。

[2018-07-29 19:40] danielcaldas commented on #94
So let's imagine something like 3 new properties in the `config` object where you could pass in your own key bindings for zoom control, something like:

[code]

And you as client would have the hability to define those properties with other key bindings. How thus this sounds to you @wulucxy?

[2018-07-30 00:07] wulucxy commented on #94
@danielcaldas actually I have found a solution for this, https://spotify.github.io/reactochart/docs/build/#/zoom-container。

you can control the zoom by `props`, or you can only put it `stateful`。

what I want is fully control of zoom，not just by mousewheel or dbclick event。

[2018-07-30 11:55] danielcaldas commented on #94
Oh well nice then, thanks for providing that link, others might find this useful as well. I didn't know the component, nice one.

[2018-07-30 11:55] #94 closed

[2018-07-30 19:59] danielcaldas commented on #93
@madanagopal, I'm closing this with PRs #92 and #95 react-d3-graph proves to be free of issues regarding its usage with react version `16.x.x`

[2018-07-30 19:59] #93 closed

[2018-07-31 00:34] pallavparikh opened #96 "Is there anyway to choose different symbolType based on provided node data ?"
@danielcaldas  - I really like react-d3-graph. do you know if there is way I can display different node symbol based on some attribute value of passed node data.

e.g. I have node data ```[{ "id" : 1, "type" : "location", name : "London" }, {"id" : 1, "type": "person", "name": "Smith"}]``` . now I want to choose d3 symbolType based on attribute value of `type`

In documentation, you mentioned `bui

[2018-07-31 12:01] danielcaldas commented on #96
I think you could solve that simply mapping the `type` to the kind of `symbolType` you want. Something like:

[code]
Now the nodes in `nodesWithSymbols` should already be displayed with the proper symbolType representing the different entities you want to display.

You can check [the documentation](https://goodguydaniel.com/react-d3-graph/docs/index.html) for the supported symbols in the **node.sy

[2018-07-31 17:13] danielcaldas commented on #96
Glad it did, closing this.

[2018-07-31 17:13] #96 closed

[2018-07-31 17:16] danielcaldas commented on #88
Some technical problems regarding this issue are described in [this Trello card](https://trello.com/c/P4S9tlqE/36-directed-graphs)

[2018-07-31 21:25] madanagopal opened #97 "Auto Rearrange after adding a node and link programatically"
Hi,

I would like to have the graph not rearrange itself when i pragmatically add node and link to the state. What happens right now is when ever i add a new node - link pair, the graph jumps to rearrange. I would ideally like to preserve the graph x and y coordinates of existing node and elements and make the new node append itself.

New property : automaticRearrangeAfterNodeAdd.

Thank you.

[2018-08-05 21:56] danielcaldas commented on #97
I think we don't need a prop for that ideally this should be the default behaviour, I'll keep this open and see what I can do in the meantime.

[2018-08-06 21:36] slackermorris opened #98 "uncertainty about d3 use of local state"
Hi Daniel,

Thanks for the awesome library, very impressive. I am having a little bit of difficulty understanding just how D3 is performing its computations. In initialising the graph force configuration you pass D3 'this.state.d3Nodes'. D3 would then perform the necessary, regularly ticked computations on the x and y coordinates of the nodes objects contained in this array. Then, in your render y

[2018-08-08 13:14] jduncanRadBlue opened #99 "Specify Link Length?"
I have tried combing the documentation to look for this answer, so please forgive me if it was somewhere in there and I did not see it.  I'm trying to specify the link length between nodes.  I have a network graph that I am building and the link length is based off of how related/unrelated the topics are to each other by a distance value that I have in my data.  Is specifying the length between no

[2018-08-08 13:41] jduncanRadBlue commented on #99
Nevermind!  I found it by specifying 'fx' and 'fy' of the node's themselves.  Thanks for putting together such an awesome library!

[2018-08-09 15:37] jduncanRadBlue commented on #99
So, after further digging and playing around I am still having a hard time trying to specify node placement.  I have a distance value that corresponds to how far away I'd like the next node to be from the main node.  Is there a way to randomly place the nodes on the graph but have the edge's a certain length?  So lets say for example I have this:

[code]
Is there a way to auto generate fx and fy v

[2018-08-09 18:30] danielcaldas commented on #99
Hello there @jduncanRadBlue, unfortunately, there is no such feature available at the moment node's positioning is fully delegated onto d3. If you have anything in mind please feel free to submit PR.

[2018-08-09 19:08] danielcaldas commented on #98
I'm sorry for that this is not very perceptible, `d3Nodes` and `state.nodes` have the same nodes' objects (same references) but with a huge difference, `d3Nodes` is an Array and `this.state.nodes` is an object which allows us to access a specific node by its key without searching in the array.

![paused-simulation](https://user-images.githubusercontent.com/11733994/43920097-4125d106-9c18-11e8-8a66

[2018-08-09 21:36] slackermorris commented on #98
Thanks for your reply Daniel. I know that, d3Nodes being an array because the D3 framework performs its computations on objects contained in an array. But if in Graph.jsx I set this.state.d3Nodes to be an empty array at the end of the function _graphForcesConfig() nothing changes, the graph still works. I am confused how this works. You pass D3 this.state.d3Nodes to perform its computations on, so

[2018-08-10 08:35] danielcaldas commented on #98
That is because the nodes' references are still available in the array that you passed into `this.state.simulation.nodes(this.state.d3Nodes).on('tick', this._tick);` try and do `this.state.d3Nodes = []` before calling or at the begining of `_graphForcesConfig` and you will see that is will stop working.

[2018-08-14 10:11] slackermorris commented on #98
Hi Daniel,

Thanks for your feedback. I suppose the essential question I am asking is why when I log this.state.nodes that I see that the x and y coordinates of the node objects change with every tick? this.state.nodes was never handed to this.state.simulation (and couldn't because it is not of type array), so how come it is being processed by the D3 simulation?

this.state.d3Nodes !== this.state.

[2018-08-14 10:17] slackermorris commented on #98
I think my inability to understand resides in my lack of understanding of how computing works at an assembly level. You say "d3Nodes and state.nodes have the same nodes' objects (same references)". By this you mean the node objects are considered by the compiler to be the same. But for purposes of better optimising the program and configuring a format you are able to pass to D3 (an array) you keep

[2018-08-14 20:35] danielcaldas commented on #98
I would call it a shadow copy since only the top level reference is different being the content (nodes) all the same.

[2018-08-14 21:14] slackermorris commented on #98
That is great. Thanks Daniel.

[2018-08-14 21:14] #98 closed

[2018-08-19 22:17] #85 closed

[2018-08-26 15:54] javaadpatel opened #101 "Display Name of Edge on Graph"
I was wondering if there was a way to display the label (or name attribute) of an edge on the graph so that it would be easy to see what the relationship between two nodes is? Read through the documentation but wasn't able to find anything, apologies if i missed it.

[2018-08-26 19:04] danielcaldas commented on #101
Hello @javaadpatel! Currently no there is no way to add labels to connections. This has been discussed in the past and is on the roadmap to implement, still, it is not in progress. If you have some idea to implement this please feel free to submit a PR. Until there is space for this I'll mark it as duplicate and I'll keep the issie opened.

See issue https://github.com/danielcaldas/react-d3-graph/

[2018-08-31 11:31] LonelyPrincess commented on #90
Hi there! I'm interested in this feature too, and I already started working on it.

Right now I can pass a `view` property to each node, which will take a JSX view as a value. This will allow us to define a completely customized node, such as the author of this issue wanted. The POC @danielcaldas published here was a big help in order to achieve this. I'm hoping to submit a PR with the changes by

[2018-08-31 12:31] LonelyPrincess opened #102 "Center graph on a specific node"
I need to be able to select a node and focus the view on it: the displayed part of the graph should be centered around that node. This link [here](https://bl.ocks.org/fabiovalse/b9224bfd64ca96c47f8cdcb57b35b8e2) has an example which illustrates what I want quite well.

In my case, I need to do this programatically, without any user interaction. I have been unable to find anything related to this i

[2018-09-03 21:29] danielcaldas commented on #102
This is a nice feature @LonelyPrincess. Adding up on your examples here are a few more:

* [mbostock - mousewheel-zoom + click-to-center](https://gist.github.com/mbostock/2206340)
* [click-to-zoom via transform](https://bl.ocks.org/mbostock/2206590)

Since this is a pure side effect on d3 zomming we don't need to maintain state of special properties for nodes or links (at least not that I can thin

[2018-09-04 12:01] LonelyPrincess commented on #102
Thanks a lot for the examples, @danielcaldas!

Oh, sure! I'll give it a go then. I'll make sure to submit a PR as soon as I have something. 😉

[2018-09-04 21:52] zvolchak opened #105 "Link "distance" property expose as configurable"
Hello,

I've been looking into documentation to find a link "distance" property, but seems like there is none.
In the graph.const.js there is a line:
    `FORCE_IDEAL_STRENGTH: -100, // TODO: Expose as configurable,`
to indicate it was in plans at some point.

So, just wondering if **link distance** property will be exposed sometime in future?

Also, I tried to change that value by hand (as well a

[2018-09-04 21:53] danielcaldas commented on #105
Hello @zvolchak yes it will. Look here, there is a PR for it https://github.com/danielcaldas/react-d3-graph/pull/104

[2018-09-05 15:29] zvolchak commented on #105
Ah, didn't look at pull requests.. my bad.
Thank you!

[2018-09-05 15:29] #105 closed

[2018-09-11 15:58] zvolchak opened #108 "Nodes grouping"
Hi,

 I'm looking into possibility of grouping nodes by some identifier. Something similar to the following example:

https://bl.ocks.org/Andrew-Reid/e689546e3449fd9f1fba1d19c30d6f6d
https://stackoverflow.com/questions/40941524/d3-force-layout-how-to-force-a-group-of-node-to-stay-in-a-given-area

 I forked this project to try and play with this, but am experiencing some issues with running a "sanb

[2018-09-11 18:45] danielcaldas commented on #108
Well regarding the feature you requested this should be a natural behavior for nodes to cluster in groups, and you are already able to give colors to nodes individualy, so I guess it's just a matter of tweaking it on your integration with react-d3-graph.

Regarding the development setup for rd3g, that's my bad, a proper local development setup guide is missing in this repo, still, it should be rea

[2018-09-12 19:50] zvolchak commented on #108
By default, d3 doesn't seem to group (or rather "sort") nodes by some identifier.
I'll play with it some more and see what is going on. Maybe I'm missing something here..

Yeah, I re-cloned the project and it seem to be working fine now.

Thanks!

[2018-09-14 23:09] #97 closed

[2018-09-16 15:23] korxx opened #109 "_graphForcesConfig()"
I have been reading the documentation, but I still don't really know how to use this function with d3 forces. Could someone give me a very simple example of how to implement graphForces? I know how to link the function to the graph, I just don't know what is the way I should implement things like gravity and alike.

[2018-09-16 15:28] danielcaldas commented on #109
`_graphForcesConfig()` it's for internal usage, it's not meant to be implemented by clients, but still, of course, you would override it. If you want to configure forces you should do it via `config` this PR made that possible you can now pass only values within your config to configure d3 forces https://github.com/danielcaldas/react-d3-graph/pull/104.

This will be released soon.

[2018-09-16 16:36] #109 closed

[2018-09-18 19:15] #99 closed

[2018-09-19 14:53] kor0 opened #110 "Responsive graph? Doubt"
I've seen some examples of responsive d3 where we append some attributes to the svg. I believe there must be a way to make responsive react-d3-graph from scratch, I just don't know how.
What snippet of code would I need to make this graph responsive?

[code]

[2018-09-19 16:35] danielcaldas commented on #110
Here you go https://github.com/danielcaldas/react-d3-graph/issues/23

As you can see in the issue you can set the `width` and `height` values. To make it *responsive* just listen to the window resize event and set those values accordingly.

[2018-09-20 21:58] #110 closed

[2018-09-21 16:32] zvolchak commented on #108
It seems like ##104 fixed the issue of grouping.
That is a critical line for that, I think:

`".force('charge', d3ForceManyBody().strength(forceStrength))"`

And now, setting "d3.gravity" value at about -500 and lower will give the effect I was looking for.

Thanks!

[2018-09-21 16:32] #108 closed

[2018-09-25 20:16] danielcaldas commented on #90
Closing this with [release 2.0.0-rc0](https://github.com/danielcaldas/react-d3-graph/releases/tag/2.0.0-rc0)

[2018-09-25 20:16] #90 closed

[2018-09-27 07:18] wulucxy opened #112 "what does the _onDragMove paramters mean?"
as the comments shows:
[code]

the first parameter is `ev`，in which case it will not be `undefined` and what it does mean in `d3-drag`，I can‘t find anything help in the doc。

PS：
when _onDragEnd fires，I need to save the node position，so I can use it next time when I need static positions。so how can I get the final position of the node？

thanks

[2018-09-27 18:37] sammaniamsam commented on #112
_onDragMove means that anytime a node is moved its cx and cy coordinates are updated.
`    componentDidMount() {
        const oldOnDragFunc = this.refs.graph._onDragMove;
        const oldOnDragEndFunc = this.refs.graph._onDragEnd;

        const newOnDragFunc = (ev, index, nodeList) => {
            //console.log(nodeList);
            this.updatedNodeList = nodeList;
            oldOnDragFunc(e

[2018-09-27 18:52] danielcaldas commented on #112
@sammaniamsam @wulucxy Yes the `drag` d3 functions can be overwritten in that way, still, it's not designed to work like that, the default drag are notated with `_` meaning the pseudo-private notation for class methods such as `_onDragMove`.

@wulucxy if you want to better understand the `d3.drag.on` please refer to `d3` documentation, [here is a useful link](https://github.com/d3/d3-drag/blob/mas

[2018-09-28 18:53] danielcaldas commented on #112
AFAIK `_onDragEnd` does not receive parameters, but you can [check this link](https://github.com/d3/d3-drag#event_on) and actually confirm whether it's possible or not.

[2018-09-29 00:31] wulucxy commented on #112
I still can't find out what the `ev` paramter means

[2018-10-02 07:28] danielcaldas opened #119 "Link mouse cursor property"
As nodes, links could have a configurable `mouseCursor` property that defines on the fly what is the cursor like when the mouse is hovering on some link.

The new config API should have a new `mouseCursor` property as specified below:

[code]

Please remember that:
- configs are documented on top of the `graph.config.js` file
- Adding a new config to a link means that you need then to provide it i

[2018-10-02 07:42] kaungmyatlwin commented on #119
I'll work on this.

[2018-10-03 09:27] #119 closed

[2018-10-03 14:49] danielcaldas opened #122 "Allow nodes to override strokeColor"
Right now some of the config properties have node granularity which means that each node can within
itself override the global config.

Clients should be able to override `config.node.strokeColor` at node level.

For that, we should allow the node builder to get these properties from the node first instead of fetching them
directly from the global config. So basically as we do in `config.node.colo

[2018-10-03 15:15] Andras-Simon commented on #122
@danielcaldas Can I take this?

[2018-10-03 15:16] danielcaldas commented on #122
Godspeed you @Andras-Simon! Go ahead!

[2018-10-03 19:05] danielcaldas commented on #122
Closing with #123

[2018-10-03 19:05] #122 closed

[2018-10-10 16:39] jcapobianco-cbi commented on #88
Hi Daniel,

We are very much looking forward to this feature.  It looks like it's almost done on Trello.  Any idea when you plan to merge it in?

Thanks

[2018-10-10 18:04] danielcaldas commented on #88
Hi there @jcapobianco-cbi! Thanks for the feedback it only makes me want to push this forward faster, still, unfortunately, there are some issues regarding the collapsible feature, making graphs directed is breaking this since it was not mentioned for directed graphs, but still I'm trying to make it work properly.

Worst case scenario I guess collapsible will not be available for directed graphs,

[2018-10-10 19:06] jcapobianco-cbi commented on #88
Thanks Daniel!  Personally, I would be happy to use the directional feature without collapsible support, if you decide to split that out into a separate issue

[2018-10-11 08:05] smilykoch opened #126 "Posibility to disable d3Force"
Hi.

Great library!

I would like the d3 drag functionality, without the force options.

Is it in any way possible to disable d3 Force? Either by setting the d3 parameters of the config to some values, or by overriding some functions?

If not, would it be something you would accept as a PR?

[2018-10-11 16:48] danielcaldas commented on #126
Hey there. Hmm... maybe what you're looking for it's already there, `staticGraph` is a config that disables `d3Forces`. Give it a try and let me know if it suits your requirements

[2018-10-11 17:44] danielcaldas opened #127 "Drop yarn support for development (stick to npm only)"
This will avoid conflicts and the overhead of maintaining both `package.json` and `yarn.lock`. If you are picking up this issue please check out the checklist on this [trello card](https://trello.com/c/0Y4fOmjh/70-drop-yarn-support-for-development), it should contain all the steps that we need to perform to clean up yarn relative configs.

[2018-10-11 17:52] sasalx commented on #127
Sure I can take it. However, I didn't understand the reason for dropping yarn. Afaik lock files generated automatically so you are only maintaining `package.json`.

[2018-10-11 18:05] danielcaldas commented on #127
Kind of. In order for the `yarn.lock` to be updated you need to actually run `yarn`. Imagine you want to add a new dependency, you go and type:

`npm install --save my-dependency`

All good, `package.json` and `package-lock.json` are updated but `yarn.lock` is left behind unless you run the same command with `yarn` (or... worst... you need to do a `yarn install` to update `yarn.lock`)

[2018-10-11 18:07] sasalx commented on #127
Oh, I see so the project mainly uses npm and keeps yarn for the sake of it.

[2018-10-11 18:09] danielcaldas commented on #127
Closed with #128

[2018-10-11 18:09] #127 closed

[2018-10-11 21:46] sammaniamsam opened #129 "Collapsible config option can cause orphaned nodes to not be displayed"
From the docs :

This option should not collapse disconnected nodes (orphaned nodes) by default. Right now, it does. This has been tested using the latest master branch.

[2018-10-12 06:51] smilykoch commented on #126
Yeah. But the problem is, that setting the graph to static mode also disables all the drag and reorder events.. I would like to be able to reorder my graph by drag inputs, but i would like the nodes to stay put where they are dropped, no matter how far they are from each other. And the same case when adding links.

So if only i could disable the d3Force plugin, it would work as expected (tested in

[2018-10-13 19:18] LonelyPrincess opened #130 "🐛 Global `viewGenerator` not been applied to the nodes"
The PR #103 changes introduced in the latest release ([2.0.0-rc1](https://github.com/danielcaldas/react-d3-graph/tree/2.0.0-rc1)) do seem to have a bug when being applied to real projects. If the user defines a `viewGenerator` in the config object, its value is completely ignored and the default view is used instead.

It seems as if the `Node` object receives `viewGenerator` as an `undefined` valu

[2018-10-13 19:19] LonelyPrincess commented on #130
As the author of the changes, I'll make myself responsible for this and upload a fix for this ASAP. Sorry for the inconvenience! 😞

[2018-10-14 09:49] danielcaldas commented on #130
Closing with #131

[2018-10-14 09:49] #130 closed

[2018-10-15 20:58] danielcaldas commented on #129
A possible strategy to fix this issue would be to tag orphan nodes when initializing graph state, this could be tricky tough since initialization can re-occur along the way in the same graph lifecycle... This needs to be planned carefully, thanks for reporting.

[2018-10-15 21:08] danielcaldas opened #133 "Allow users to pass in a function in node.labelProperty"
At the moment we can indicate what `node` property should contain the value of the label, but we could be even more flexible. In order to achieve that `config.node.labelProperty` should allow the client to pass in a function.

Please check the [trello card for more detailed information](https://trello.com/c/SKmcghy1) on this task.

[2018-10-16 01:29] dgautsch commented on #133
I can take a look at this.

[2018-10-16 09:48] LonelyPrincess opened #136 "Custom onNodeClick handler not triggering on collapsible nodes"
Right now, if the collapsible feature is enabled, the user defined `onNodeClick` handler is never called. This is due to a typo in the `_tick` method implementation (in `Graph` component).

[2018-10-16 16:16] jcapobianco-cbi commented on #37
Hi @danielcaldas do you have any examples for using onMouseOverNode to create a tooltip where the node is located on the page?

[2018-10-16 17:39] #136 closed

[2018-10-16 17:39] danielcaldas commented on #136
Closing with https://github.com/danielcaldas/react-d3-graph/pull/137

[2018-10-16 18:01] danielcaldas commented on #88
Closing with #132

[2018-10-16 18:01] #88 closed

[2018-10-17 18:11] #133 closed

[2018-10-17 18:11] danielcaldas commented on #133
Closing with #135

[2018-10-21 02:34] gregorykan opened #138 "get node to stay highlighted after click?"
hi there!

i'm absolutely loving this library. thank you so much!

i wanted to ask if it were possible for a node (or set of nodes) to stay highlighted after click?

thanks!

[2018-10-21 02:41] gregorykan commented on #108
hey @zvolchak, would it be possible  for you to share the code you implemented for this? i also want to cluster nodes by some identifier, just not sure how to configure it.

[2018-10-23 18:22] rxd65410 commented on #88
Could you please let me know if directional arrow/link feature is released ?

[2018-10-23 19:32] danielcaldas commented on #88
@rxd65410 I will

[2018-10-23 19:33] zvolchak commented on #138
@gregorykan and @danielcaldas,

I've been looking into similar thing today and found out that by using "refs=" you can call <Graph> onMouseOverNode function:
https://stackoverflow.com/questions/37949981/call-child-method-from-parent

Following that example, you could implement something similar and call Graph's "onMouseOverNode(node_id_to_keep_hightlighted)" when pressing a button.
Then call "onMo

[2018-10-23 20:16] danielcaldas commented on #138
Hey thanks for sharing that @zvolchak! No, it's not a hack you are communicating with the component through its API. But notice that `_setNodeHighlightedValue` has a pseudo-private notation thus not being meant to be accessed from the outside, on the other hand, `onMouseOverNode` is public and if @zvolchak says it works even better :stuck_out_tongue:

[2018-10-24 07:33] gregorykan commented on #138
this is fantastic @zvolchak and @danielcaldas ! thank you so much. i think both of these approaches will work for me!

[2018-10-25 08:01] gregorykan commented on #138
ah damn @zvolchak i realize that refs may be a thing of the past for react??

[2018-10-25 16:04] zvolchak commented on #138
No, I don't think so.
From my packages.json "dependencies" list, it seems like I'm on the 16.5, which is latest(?):
[code]

Also, based of official documentations, refs seems to be fine:
https://reactjs.org/docs/refs-and-the-dom.html

Feel free to share what kind of problem are you currently experience with that.

_On a side note: using refs here may get hectic if Redux is used to select nodes fro

[2018-10-28 04:43] gregorykan commented on #138
@zvolchak yes you're right!

the other way i can think of doing this is through setting the selected individual nodes' `color` property through selectors, assuming you have both the nodes data and the selected node id in redux state?

[2018-10-28 10:15] gregorykan opened #141 "set an individual node's gravity?"
hi again! i don't have much d3 knowledge, so i'm not sure if what i'm asking for makes sense...

would it be possible for some nodes to be set as having more repelling force (i.e. gravity) than others?

i'm trying to configure my graph to look something like this, where links branch outwards from the hub nodes, but i have no idea how to achieve it: https://bl.ocks.org/mbostock/95aa92e2f4e8345aaa55

[2018-10-28 12:06] gregorykan commented on #102
i want this feature 😱

[2018-10-29 01:34] gregorykan commented on #138
hi again @zvolchak and @danielcaldas !

i've tried both your methods with ref, but for some reason it's not doing anything for me.

any idea what i'm doing wrong?

code here (tried with both `onMouseOverNode` and `_setNodeHighlightedValue`:

[code]

[2018-10-29 08:04] gregorykan opened #142 "viewGenerator key being dropped in config merge"
hi! i just noticed that `viewGenerator` was being lost in a merge in `initializeGraphState` in `graph.helper.js`:

`var newConfig = Object.assign({}, _utils2.default.merge(_graph5.default, config || {}));`

adding the `viewGenerator` key to `graph.config.js` seemed to fix the issue.

[2018-10-29 10:39] LonelyPrincess commented on #142
Hi there!

OMG, this is strange... 🤔 I would have sworn I fixed that when we closed #130. Is that issue any different from what you're saying? In the pull request I submitted for that bug I added the `viewGenerator` key to the global config object, so what you're reporting should no longer happen.

Could you give me more information on what you're trying? Are you using the latest `master` branch?

[2018-10-29 12:44] LonelyPrincess commented on #138
Hi @gregorykan !

I think the problem is that, by default, `onMouseOutNode` does undo the highlighting. Even if you force the call to `onMouseOverNode` when clicking on it, the highlighted nodes will return back to normal when you move the mouse out of the node after the click.

I'd like to make sure that's the problem in your case, so could we make a little test? Try using a hardcoded `nodeId` he

[2018-10-29 19:08] zvolchak opened #143 "Incorrect graph simulation when nodes are added?"
Hi,

 I'm getting a weird behavior with nodes positioning and overall graph physics when adding new nodes to the graph. It is most noticeable in a smaller grough (~5 nodes) with a non-default link length (<100) and d3.gravity=-500 (or -1000).

 At first I though it is the issue in my project (which is still possible), but it seems like it can be reproduced in the Sandbox as well.

 Can anybody con

[2018-10-29 20:58] zvolchak opened #144 "How to set Individual link width?"
Hi,

In the documentation, it says that it is possible to set individual link width

But I can't figure out which "key" in the graph do I need to set per each link entry to get it working.

I see there is this piece of code that handles "linkValue", but it is not obvious to me on the links structure:
[code]
I thought it would be something like that, but based of the source code, it is something el

[2018-10-29 23:41] gregorykan commented on #142
hi @LonelyPrincess ! thanks for following up. sorry i forgot to mention that basic information - i'm using `2.0.0-rc1`.

so i could use `master` or wait for the next release?

[2018-10-29 23:58] gregorykan commented on #142
weirdly i am having trouble using the latest master. i ran:

`npm i -S danielcaldas/react-d3-graph#master`

which looks like this in my `package.json`:

`"react-d3-graph": "github:danielcaldas/react-d3-graph#master"`

i get this error:

`Module not found: Can't resolve 'react-d3-graph' in '<project_path>/client/src/components'`

[2018-10-30 00:32] gregorykan commented on #138
hi @LonelyPrincess ! thanks so much for your response.

i tested your idea, to hardcode the `nodeId` passed into `onMouseOverNode`, and you're right. the corresponding node (to the `nodeId`) stays highlighted after i click any other node.

[2018-10-30 16:03] zvolchak commented on #144
Ah, nevermind...
Seems like there is an issue in my setup. Setting "value" seems to be working fine in a sandbox.

[2018-10-30 16:03] #144 closed

[2018-10-31 05:32] gregorykan commented on #143
hi @zvolchak !

i didn't notice it before but now i'm curious...

here is one screenshot before i've added new nodes:

<img width="464" alt="screen shot 2018-10-31 at 6 28 30 pm" src="https://user-images.githubusercontent.com/10443269/47767999-06b2f300-dd3b-11e8-8e6b-0b78267b7119.png">

here is another screenshot after adding nodes "k" and "l":

<img width="492" alt="screen shot 2018-10-31 at 6 29

[2018-10-31 05:37] gregorykan commented on #141
sometimes it looks good:

<img width="576" alt="screen shot 2018-10-31 at 6 35 26 pm" src="https://user-images.githubusercontent.com/10443269/47768203-e20b4b00-dd3b-11e8-8ce5-0eca5bd1750f.png">

sometimes it doesn't:

<img width="499" alt="screen shot 2018-10-31 at 6 35 06 pm" src="https://user-images.githubusercontent.com/10443269/47768210-e9caef80-dd3b-11e8-9b3c-140a31f94f46.png">

my current co

[2018-11-01 15:34] zvolchak commented on #143
@gregorykan,

Try setting d3.gravity to -650
and d3.linkLength to 50

[2018-11-01 20:12] gregorykan commented on #141
badly framed issue - think this is actually related to #143

[2018-11-01 20:12] #141 closed

[2018-11-01 20:16] gregorykan commented on #143
@zvolchak it's really interesting.. whenever i FIRST navigate to the route/page that contains my graph component, it looks like this:

<img width="501" alt="screen shot 2018-11-02 at 9 13 42 am" src="https://user-images.githubusercontent.com/10443269/47877020-b7c2a600-de7f-11e8-9876-c4cae5963536.png">

it doesn't look as though gravity or linkLength are being taken into consideration at all?

howe

[2018-11-01 20:21] zvolchak commented on #143
What happens if you add new node after page is reloaded?

Cause for me, forces are calculated fine initially, but get broken when new node is added and the graph gets re-rendered.

[2018-11-01 20:35] zvolchak commented on #143
YES! Gravitation towards left upper corner! I thought I messed something up in my setup that causing that behavior...

 The other thing that you also probably seeing is the when you dragging a node - the rest of the nodes stay static without trying to close that distance to get to the linkLength value. And for that reason, I suspect there is something weird going on between D3 and React Update/DOM

[2018-11-01 20:37] gregorykan commented on #143
@zvolchak yup i thought i was doing something wrong too! if this were fixed it would be a huge deal for me 😱

[2018-11-02 09:18] gregorykan commented on #143
update: when i started the graph with `staticGraph: true`, where all the nodes are bunched in the corner, and made it `false` again in `componentDidMount`, all the nodes were positioned as i expected. this is my current hack for getting the nodes to be arranged properly on initial render!

[2018-11-03 06:15] gregorykan opened #145 "graph constantly re-rendering even when app is idle?"
i noticed that my project was feeling laggy. i put a log into the graph's `render` function, and noticed that it was re-rendering constantly. it's consuming a lot of CPU power and that was why i observed the lagginess.

i tried not doing anything, and the re-rendering would stop after some time. however, even when i performed actions unrelated to the graph and the data being fed to the graph, the

[2018-11-03 06:33] gregorykan commented on #138
i no longer require this feature now that i'm using my own custom component for each node, but of course happy if anyone wants to reopen this for their own use case.

[2018-11-03 06:33] #138 closed

[2018-11-03 06:46] gregorykan commented on #145
update: i rolled the code back really far and have found a point at which this doesn't happen. will try debug it myself - doesn't seem to be an issue with the library!

[2018-11-03 06:46] #145 closed

[2018-11-03 23:40] gregorykan commented on #126
@smilykoch i'd be interested in this. for me, i noticed that d3Force was consuming a lot of CPU due to the constant re-rendering.

yet i need d3Force to arrange all the nodes properly, as well as to be able to drag and drop them.

i've been dealing with this by removing the d3 portion of the config when the user (first) clicks on a node. that way the graph is 'static' but it's also already been ar

[2018-11-08 18:10] #112 closed

[2018-11-08 18:13] danielcaldas commented on #143
Maybe a call to `resetNodesPositions()` will be needed in order to get the behaviour you are expecting.

[2018-11-13 23:18] danielcaldas commented on #102
Closed with https://github.com/danielcaldas/react-d3-graph/pull/107

[2018-11-13 23:18] #102 closed

[2018-11-21 08:44] chairy11 opened #146 "can not see the graph with nodes in the center of the container"
Hi，so so glad to found your react-d3-graph project which is rapidly updating.
Do you know [Ogma](https://doc.linkurio.us/ogma/2.1.2/examples/transport-network.html)?
It's a great network framework, with features I need, but I can't afford it.

Thank you for making this open-source project.

But I meet some problem:
1. I try to draw a graph with 1000 nodes, but the result seems strange:
![image](ht

[2018-11-21 16:49] chairy11 commented on #146
P.S. I found there were some warning with installing
[code]

[2018-11-22 01:57] chairy11 commented on #146
Now I read the [Sandbox source code ](https://github.com/danielcaldas/react-d3-graph/blob/master/sandbox/Sandbox.jsx), and change the config `staticGraph: true`:

[code]

and Got this:
![image](https://user-images.githubusercontent.com/1669457/48876957-fb378100-ee3b-11e8-9270-0dc73a27eba3.png)

But it's not what I want, I need the force graph, which you can see the relationship by network .
someth

[2018-11-22 02:00] chairy11 commented on #146
Did you see this [ force-collapsible example](http://mbostock.github.io/d3/talk/20111116/force-collapsible.html)? It's interesting.

[2018-11-22 14:08] eilatc opened #147 "dx prop of text label isn't working"
I tried to use the dx prop.
this is how it's declare on` Node.js`:
![image](https://user-images.githubusercontent.com/19334770/48907578-87fc3200-ee70-11e8-8717-d8720cb08b69.png)

I tried to pass a prop name **dx** with some value and it didn't response.
seems that dx value is determined by the font size.
although, the dy value seems to be working.

![text](https://user-images.githubusercontent.com

[2018-11-22 14:24] eilatc opened #148 "Search nodes in graph with highlighting?"
Is it possible to search nodes in the graph based on attributes and then highlighting them?

[2018-11-22 14:42] eilatc opened #149 "Custom link between two nodes?"
Is it possible to create a custom link between two nodes?

Let's say all the links in the graph are green except one that is blue and dashed...

Thanks

[2018-11-22 20:30] danielcaldas commented on #148
`react-d3-graph` works in a way that allows you to implement all that lookup logic on the client side. You have methods to highlight the nodes but the logic to look for them and in what attributes that lookup is based on is totally up to you, you can put whatever data you want on the node as long as you follow the base contract

[2018-11-22 20:35] danielcaldas commented on #147
Hey there,

`dx` property is not exposed, thus it's not meant to be overridden... The only scenario where you could do it would be if you used the `Node` component directly instead of the component `Graph`, but then you would lose the majority of the advantages and features that react-d3-graph offers out of the box.

[2018-11-22 20:38] danielcaldas commented on #146
[From react-d3-graph docs](https://goodguydaniel.com/react-d3-graph/docs/index.html#node):

[2018-11-23 01:49] chairy11 commented on #146
@danielcaldas Thank you for your answer.

But even though I set the `staticGraph: false`, the graph still not show as a force.  I don't know why.
![image](https://user-images.githubusercontent.com/1669457/48925982-a1e75480-ef04-11e8-885d-2abc409109d8.png)

my code:

[code]

[2018-11-27 11:08] jakubkafarski opened #150 "Very busy animation"
Is there a way to display your Marvel dataset without that busy animation and floating on the begining ?
Option `staticGraph: true` shows all nodes and links in one place.

![staticgraphtrue](https://user-images.githubusercontent.com/7047986/49077965-01af6980-f23d-11e8-974f-99760dce3d55.png)

Thanks

[2018-11-27 17:06] sammaniamsam opened #151 "Nodes added or deleted from a graph with nodes in fixed positions will cause issues"
If you set <fx, fy> ([fixed static](https://github.com/d3/d3-force)) for some of the nodes on your graph and add or delete nodes thereafter your graph will "break" and become un-editable.
![temp](https://user-images.githubusercontent.com/16583147/49098445-7fbb4280-f234-11e8-995d-d2e1ea003e3d.PNG)

[2018-11-27 18:07] danielcaldas commented on #150
Yes, there us an option, try and set `staticGraph: true`. But take into account that for this to work you need to provide intial positions. In the docs:

Also a sample on how to generate random positions can be found on https://github.com/danielcaldas/react-d3-graph/blob/master/sandbox/Sandbox.jsx#L230:

[code]

For a more hackish and fast approach you could to a `setTimeout(() => setState({ stati

[2018-11-27 18:14] danielcaldas commented on #151
Now that I noticed it seems to happen even without setting specific `fx` or `fy` :thinking:

[2018-11-28 09:58] jakubkafarski commented on #150
Generating initial positions didn't work for me very well.
I had to use last approach, hiding graph until it's loaded properly.

`  componentDidMount() {
    setTimeout(() => this.setState({ staticGraph: true, hideSVG: false }), 2000)
  }
`
Thanks for help.

[2018-11-28 09:58] #150 closed

[2018-11-28 15:17] sammaniamsam commented on #151
Thanks, Daniel

[2018-11-30 20:43] kwnkouts opened #152 "User draw new link"
Hello,

is it possible to have an amount of nodes and the users can draw links between the nodes they want?
Thank you in advance.

[2018-11-30 23:32] danielcaldas commented on #152
Hello @kwnkouts , yes it is. Checkout this cool working sample by @liamzebedee.
Repository: https://github.com/liamzebedee/visual-graph-creator
Source code: https://github.com/liamzebedee/visual-graph-creator/blob/master/src/index.js
Live version: https://visualgraph-editor.stackblitz.io/

[2018-12-04 07:58] gregorykan commented on #142
fixed in rc2

[2018-12-04 07:58] #142 closed

[2018-12-12 15:57] amitrathik opened #153 "Reverse the direction of arrows for "directed" property"
Is it possible to switch the direction of the arrows when you set the "directed" property to true?

[2018-12-12 16:09] amitrathik commented on #153
Never mind, I was able to figure it out by switching the "source" and "target" properties when creating links

[2018-12-12 16:09] #153 closed

[2018-12-14 22:59] #101 closed

[2018-12-17 15:00] danielcaldas commented on #149
In this PR https://github.com/danielcaldas/react-d3-graph/pull/79 we made it possible to customize color for links via link data payload @eilatc

[2018-12-19 23:21] #129 closed

[2018-12-19 23:21] danielcaldas commented on #129
Closing this with #154

[2018-12-20 15:40] paulbarr commented on #149
I'm interested in the ability to have dashed lines and dashed nodes.
I'd be happy to do a PR for it
Also - I'm wondering if you could support pass through so that any property would be added to the path, like strokeDasharray for example. Then you could support all the d3 capabilities
I'm available tomorrow but after that will be out until the new year

[2018-12-20 16:58] danielcaldas commented on #149
Hey there @paulbarr we could start with the ability to add `dashed` line option. A PR would be very welcome just try and apply the same pattern that we have for `link.color` for instance.

[2018-12-21 10:59] paulbarr commented on #149
I've made the change locally - I'll submit the PR in the new year when I get back. Happy New Year!

[2019-01-11 22:28] sauln opened #160 "Node id 0 not set properly"
It seems that if a node id is 0, then any links that should point to 0 instead point to an [Object object].

Here's a minimal example
[code]

and the resulting graph is shown below.  It looks like one end of the link is never updated, even though the location of the 0 node is updated.

<img width="400" alt="screen shot 2019-01-11 at 2 25 06 pm" src="https://user-images.githubusercontent.com/580896

[2019-01-11 23:35] danielcaldas commented on #160
Hey thanks for reporting, this is actually a bug, the problem is that react-d3-graph is currently supporting both data types as ids (not the best decision IMHO) you can have the type `number` or the type `string` and it should just work... Still, as you may know, `0` evaluates to false in javascript that is why some checks for `node.id` fallback to something else rather than the actual id `0`. Thi

[2019-01-12 19:53] #126 closed

[2019-01-12 19:53] #143 closed

[2019-01-14 02:58] sauln commented on #160
Thanks for getting back to me. I'll definitely switch to strings in the meantime.

[2019-01-14 03:26] sauln opened #162 "Width update slows down graph convergence"
Edit: I've found other peculiar behavior which I think is related to the original concern. It appears that when there is a parent state change and the graph is rerendered, the graph has considerably different configurations, specifically w.r.t. the d3 configs. This results in the graph drastically changing its appearance.

Original

When I try to change the width and height of the graph after moun

[2019-01-14 22:57] danielcaldas commented on #162
Hi @sauln, in regards to the `edit` that you added to the comment I would ask you to open it in a separate issue, thanks in advance.

In regards to the original issue. First things first. I knew of the theoretical possibility of having several different graphs rendered on the same page, it feels really good to see that someone it's actually implementing such a solution! :smiley:

Could you make av

[2019-01-15 02:49] sauln commented on #162
I'll try to get a minimal example demonstrating the behavior tomorrow.  In the meantime, I was able to manually calculate what the width and height should be and things work fine as long as the user does not resize the window.

On another aside,  is the node highlighting functionality only triggered on mouse over, or is it possible to route through click instead?

[2019-01-15 14:14] ondrej-janosik opened #163 "Initial zoom"
Hi,

how can I set initial zoom of the graph?

My config looks like this:
`export const config = {
  height: 980,
  width: 1920,
  maxZoom: 8,
  minZoom: 3,
  focusZoom: 3,
  node: {
    // missing typings
    viewGenerator: (node: any) => <NodeRenderer node={node} />,
    renderLabel: false,
    size: 200,
  },
  d3: {
    linkLength: 60,
    linkStrength: 1,
    gravity: -100,
    alphaTarget: 0

[2019-01-15 14:23] ondrej-janosik opened #164 "Initial render looks different from render when adding data over time."
Hi, I have a question.

Right now I am using your library to display data like this:
![image](https://user-images.githubusercontent.com/18070427/51186026-f1307c80-18d8-11e9-8aca-27e980a81ad3.png) - this looks very nice.

But when I star with data like this
![image](https://user-images.githubusercontent.com/18070427/51186074-09080080-18d9-11e9-8515-553c2536763a.png) and adding some more data over t

[2019-01-15 18:38] mariopnvds commented on #149
Hey there! I am new using this amazing tool. Is there any possibility to set the thickness of each link individually? I mean something like:
[code]
Thank you so much!

[2019-01-16 07:20] mariopnvds opened #165 "Markers"
Hi!
I am struggling to set a marker when hovering a node or link, any examples available?

Thanks in advance

[2019-01-16 16:35] sauln commented on #162
I haven't been able to replicate this in code sandbox and it the behavior stopped in my own project, so I'm going to close the issue.  If the behavior comes back up, I'll let you know.

[2019-01-16 16:35] #162 closed

[2019-01-20 12:59] danielcaldas commented on #165
Hi @mariopnvds, markers are at this stage a very raw and not very customizable element.. At the moment they are absorbing `link` configs as you can see in this piece of the source:

[code]

But the idea is for markers to be as customizable as the links, please feel free to submit a PR to customize markers.

[2019-01-20 13:02] danielcaldas commented on #149
Hey @mariopnvds thanks to @sauln it will be possible soon! Check out the ongoing work here https://github.com/danielcaldas/react-d3-graph/pull/166

[2019-01-20 13:07] danielcaldas commented on #164
Are you using `staticGraph: true`? If yes the graph will just have a sticky behavior and recently added not will just be in the way as you are showing me in the screenshots.

[2019-01-20 13:15] danielcaldas commented on #163
Hi @ondrej-janosik, thanks for reporting that. But currently, there is no solution for setting initial zoom. Currently, I have no time to look into this into more detail, but it's something that I would be interested in for `react-d3-graph`, please feel free to open a PR, or if you find any workaround please share it here so that other developers can see. Thanks again!

[2019-01-20 13:15] danielcaldas commented on #160
This was fixed with #161

[2019-01-20 13:17] danielcaldas commented on #152
Closing this, see above comment for how to approach and design such a solution.

[2019-01-20 13:17] #152 closed

[2019-01-21 09:31] ondrej-janosik commented on #164
No I am not, this is the config I use:
[code]
Do you need any more information?

[2019-01-21 22:45] danielcaldas commented on #164
By the information, you provided it doesn't seem to be a config issue. Can you provide a repository where the issue can be replicated? I would like to take a look at this, you have a very customized graph config that I've never seen so far, it might be some internal conflict within the library, but to find the root cause I actually need to debug the code with this example or a similar one.

[2019-01-22 04:46] sauln commented on #149
I think using the `semanticStrokeWidth` and `linksMatrix` parameters could solve the problem. If not, I could include the link width param in #166 as well.

[2019-01-22 07:51] mariopnvds commented on #149
Thank you very much @sauln and @danielcaldas !

Where should I use linksMatrix? I tried to look for it on the docs and it is not appearing. I tried to use it in the configs and in the individual link, and still not working!

Would be nice to have it with the width param for each link!

Thanks in advance!

[2019-01-22 08:01] mariopnvds commented on #165
Thank you for the fast answer!

Still don't get it, How is the marker added to the link I want? I cannot even include Marker in the imports. What is refX and id referencing to? And defs?

Thanks in advance!

[2019-01-22 08:58] Minoli opened #167 "Is there a way to group nodes?"
Is there a way to push similar nodes to be created closer to each other and group nodes inside a shape as in the below image?

![screenshot](https://user-images.githubusercontent.com/9837443/51523824-7fb17a80-1e52-11e9-8c50-fb2b7bca6bcc.png)

[2019-01-22 18:44] sauln commented on #149
Sorry, the `linksMatrix` is an internal representation of the widths. I got it to work by setting links to have a `value` attribute:
[code]

It also looks like this will behave differently if `collapsible` is turned on.

If that doesn't work, once #166 is merged, it will be accessible by setting
[code]

[2019-01-22 23:40] danielcaldas commented on #167
The current way to bring nodes together is by fine-tuning the [d3 configs](https://goodguydaniel.com/react-d3-graph/docs/index.html#config-d3), check out [the docs](https://goodguydaniel.com/react-d3-graph/docs/index.html#config-d3) for more information.

Regarding the visual shape surrounding the specified nodes, that's not a feature available in `react-d3-graph`, but would be interesting to have

[2019-01-22 23:44] danielcaldas commented on #165
I'm sorry if I was not clear, the snippet above is code from the internals of the library. Currently, the only way to make markers appear is by setting the config `directed` to `true`. Regarding the color, the marker will take the colour that is initially defined for links (config `link.color`).

**Note**: there is a limitation for this approach which is colors for markers are static which means t

[2019-01-24 04:33] Minoli commented on #167
Thank you @danielcaldas for your reply. Is there a way to get the x and y points of the nodes? will be needing the points of all the nodes in a specific group to create the bounding box.

[2019-01-24 08:11] VBagmut opened #168 "Root node collapses and hiddens"

[2019-01-25 17:01] danielcaldas commented on #168
This is a know limitation for collapsible graphs. Unfortunately, there is not a straightforward way to detect a root node. This would require something like a graph to tree conversion which could be costly. Since you raised this issue, let me take the opportunity to ask the community.

Would you be willing to tag the root node as `root: true` in order to avoid this undesirable behavior?  Or, do yo

[2019-01-25 17:03] danielcaldas commented on #167
Hello @Minoli, yes you can get them at runtime, check out this debugging session screenshot

![image](https://user-images.githubusercontent.com/11733994/51760750-7f6fe400-20cb-11e9-91dd-876333010cc9.png)

[2019-01-27 11:09] #160 closed

[2019-01-30 19:57] wendymungovan opened #169 "Link Colors not used when adding to graph"
**Describe the bug**
When you add new links to a graph with the link color specified. The default color is used instead of the link.color field.  This ONLY happens when you are updating an existing graph not creating a new one.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new graph with nodes and links of different colors
2. add a new link to Graph's data
       <Graph data={this

[2019-01-30 20:00] danielcaldas commented on #169
Hi @wendymungovan! Thanks a lot for reporting this. Could you please provide your environment information (such as node version, react and d3 versions).

[2019-01-30 20:53] wendymungovan commented on #169
Sorry about that.

"react": "^15.6.2",
"react-d3-graph": "^2.0.0-rc2",
 "d3": "^3.5.16",
"react.pure.component": "^1.2.0",
"redux": "^3.5.2",

[2019-01-31 19:15] LonelyPrincess commented on #169
Thank you for your detailed report, @wendymungovan ! Having the steps to reproduce the issue will come in handy. I'll take a look at this and let you know as soon as I find out what's going on. :)

[2019-01-31 20:37] wendymungovan commented on #169
Thank you for looking into it.  If we need to change what versions of node components we are using to make this work better please let me know.

[2019-01-31 21:46] LonelyPrincess commented on #169
Don't mention it! That's what we're here for! 😉

I found the problem and it's a bug in the library, so there's no need for you to do anything with your other dependencies. I'll submit a pull request with the fix soon, so @danielcaldas can review it. When a next release of `react-d3-graph` is ready, updating to the new version will solve the issue for you.

[2019-02-01 14:22] wendymungovan commented on #169
Thank you!

[2019-02-01 16:43] wendymungovan opened #171 "viewGenerator rectangular size"
**Is your feature request related to a problem? Please describe.**
I'm trying to make a custom node like in your example (https://goodguydaniel.com/react-d3-graph/sandbox/index.html?data=custom-node) but I would like to add more text to the boxes which would make them rectangular instead of square.   It would be nice if we could specify the size width and height separately instead of with a single

[2019-02-05 01:58] witang opened #172 "Permanent Static Graph Render"
Hi @danielcaldas,

Thanks for creating react-d3-graph! I apologize in advance, as I know that this issue has been touched upon in a few other issues, but I'm having some trouble rendering the example graph using the Marvel data and config shown here: [link](https://github.com/danielcaldas/react-d3-graph/tree/master/sandbox/data/marvel).

I've copied both the data and config over, and am rendering

[2019-02-05 14:46] mtheolog opened #173 "Add guidelines of how react-d3-graph can incorporated to a react app"
As I am totally new to react framework and i am working on a project that has to visualize graph networks, it would be very helpful if you would provide me with guidelines of how can i integrate react-d3-graph and visualize a graph into a project created with create-react-app

[2019-02-05 17:32] LonelyPrincess commented on #171
That would be an useful feature, indeed. :slightly_smiling_face:

For the time being, if you just need your nodes to look like rectangles, you can manage that with the `viewGenerator` API right as it is now. The whole point of that custom nodes feature is to make node's appearance fully customizable, which also includes its shape and size.

You can see the square-shaped node merely as a container.

[2019-02-05 19:31] wendymungovan commented on #171
Thank you @LonelyPrincess I will try that out.

Either way, I think another benefit of having it would help fix the problem with Marker arrows showing up under the node.  From looking at the code (I have not tested anything yet) I think setting the refX to be the max(node-width, node-height) would get the arrow head out from under the node box too.   This would not solve the problem for fancy shap

[2019-02-05 19:48] wendymungovan commented on #149
I found a workaround if you are ok with all lines being dashed.  You can set the css properties for the link class.

.link{
  stroke-dasharray: 5;
  stroke-width: 5;
  stroke-linejoin: round;
}

[2019-02-07 07:14] #146 closed

[2019-02-07 07:14] #148 closed

[2019-02-07 07:14] #147 closed

[2019-02-07 08:19] Minoli commented on #167
Thank you.

[2019-02-09 12:24] sarcoma opened #174 "Graph Animating When Hovering a Node"
**Describe the bug**
Hovering over nodes and trying to display the data on a parent component is causing the graph to animate and move. The first time it moves a lot, and sort of spaces out to form more of a circle. But subsequent hovers make it twitch a bit from the hovered node.

This is likely something wrong with my implementation, but I really can't understand what is causing the graph to mov

[2019-02-10 10:35] danielcaldas commented on #174
Hello there @sarcoma, when new props are passed down to `react-d3-graph` (`config` or `data`), the library performs a dirty check on those props. In your case, if you pass additional data (new props) on `nodes` or `links` triggers a reset of the graph animations. If this is your case try and keep the payload that you send to `react-d3-graph` clean and do the mappings on the wrapper component that

[2019-02-10 10:38] danielcaldas commented on #149
Hey thanks for the addition @wendymungovan, that's actually not a bad workaround 👍

[2019-02-10 10:48] danielcaldas commented on #171
Definitely, agree with you on this one @LonelyPrincess

Also good point here @wendymungovan

So basically keeping it at node level would make it more flexible to control nodes' shapes not only the custom ones generated via `viewGenerator`. At the moment I do not have the availability to tackle this, would one of you be up to give it a try @wendymungovan @LonelyPrincess ? :slightly_smiling_face:

[2019-02-10 10:51] danielcaldas commented on #173
Hello there @mtheolog, in this project you can go to the `sandbox` folder and the [sandbox/Sandbox.jsx](https://github.com/danielcaldas/react-d3-graph/blob/master/sandbox/Sandbox.jsx) the file is a live/working sample of how to integrate `react-d3-graph` in a `react` app. There are a lot of descriptive comments within the component whose purpose is to provide documentation for how the `Graph` comp

[2019-02-10 10:56] danielcaldas commented on #172
Hi there @witang thanks for the report, but in order for me to take a look into it please provide all the information that is requested on the [bug_report issue template](https://github.com/danielcaldas/react-d3-graph/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) 🙂

[2019-02-10 10:58] danielcaldas commented on #164
Thanks for the reproduction of the issue, currently I don't have the time to look into this properly. I will get back to you as soon as I have some time available.

[2019-02-10 23:51] sarcoma commented on #174
Thanks so much for the response. That sounds like a good avenue for me to investigate.

I had to do something a bit odd to get the nodes to update correctly when another CSV is uploaded. I've set the key of the graph component to a hash of the node IDs. That allowed me to force the graph component update when the key's hash changed. This might be causing problems. I've certainly got some issues wi

[2019-02-11 20:32] wendymungovan commented on #171
@danielcaldas I can try to get it working.

[2019-02-15 01:26] wendymungovan commented on #171
@danielcaldas and @LonelyPrincess I think the fix is in.  Please let me know if you see anything you want changed.  If you want me to look into the link/marker arrow issue on this branch as well let me know and I will.

Also I'm new to working on open source projects so if I should be doing something differently please let me know.

[2019-02-15 15:50] wendymungovan commented on #171
I was playing around with the _renderDefs to see if we could use the size to set refX so the arrow placement is not under the node.  The more rectangular the nodes are the more off the placement will be because it all depends on the angle of the arrow and where it hits the node. Is this something you are interested in?

![image](https://user-images.githubusercontent.com/10120642/52867496-11896c00-

[2019-02-15 19:35] wendymungovan commented on #149
What do you think about exposing the className on link as a Link config property?  This could be added to the class name you are already setting in buildLinkProps in graph.builder.js.  I tried it out in the branch and it seems to work if you like that style change. @danielcaldas if you would like this done differently let me know and I can fix it.

I tried it out and it ends up looking like this.

[2019-02-17 14:51] danielcaldas commented on #149
@wendymungovan sounds good, feel free to give it a try by adding `className`. Also, consider that we should have a default value for this on `graph.config.js`.

[2019-02-17 14:55] danielcaldas commented on #171
Hi, @wendymungovan let's leave this one for the next iteration. First, let's address the sizes if you have something with this only please go ahead and open a PR 🙂

[2019-02-18 16:31] wendymungovan commented on #149
@danielcaldas I set the default to undefined. Here is a link to the branch.[]( https://github.com/wendymungovan/react-d3-graph/commit/6e1fd86ac62f0e246448dbc80e15675b6db54c7c)  I just realized that my playing around with the arrows was included in this branch so I will remove that change.

[2019-02-18 16:33] wendymungovan commented on #149
@danielcaldas sounds good.  This branch [](https://github.com/danielcaldas/react-d3-graph/compare/master...wendymungovan:feature/rectangle_nodes) should only have the width/height change.

[2019-02-18 16:34] wendymungovan commented on #171
@danielcaldas sounds good.  This branch https://github.com/danielcaldas/react-d3-graph/compare/master...wendymungovan:feature/rectangle_nodes should only have the width height change.

[2019-02-18 16:55] wendymungovan opened #175 "Marker appears under node"
**Describe the bug**
When you have larger custom nodes or bigger standard shapes the marker arrow appears under the node instead of being next to it.

**To Reproduce**
Steps to reproduce the behavior:
1. Open up the sandbox
2. Add a new property to Chenjesu (size:3000)
3. Click directed to turn on showing the arrows
4. you can't see the arrows going into the Chenjesu node

Possible short term solu

[2019-02-19 07:30] sarcoma commented on #174
After trying out a few things and comparing the data I'm sending the component, I believe there is an issue with the deep object check. My data is sometimes being recalculated before it is passed to the Graph component, and the object that is passed down is an entirely new object. When the Graph checks the data it seems to see identically structured objects as unequal. I JSON stringified the data

[2019-02-21 00:03] TriQuach commented on #163
Hi @danielcaldas, is this problem fixed?  I really appreciate that 👍

[2019-02-21 19:19] mtheolog commented on #173
Thank you very much. Please close it.

[2019-02-21 19:19] #173 closed

[2019-02-26 21:31] danielcaldas commented on #163
Hi @TriQuach , thanks for that. But currently, there is no solution for setting initial zoom. Currently, I have no time to look into this in more detail. A good start would be to look into [d3-zoom](https://www.google.com/search?q=d3-zoom&oq=d3-zo&aqs=chrome.0.69i59j69i57j69i60j0l3.3332j0j1&sourceid=chrome&ie=UTF-8) API and check whether a method to zoom in on initialization is offered.

[2019-02-26 21:50] danielcaldas commented on #174
There are specific changes that trigger re-animation. Passing down new object references is one of them. If `react-d3-graph` detects that your passing new `nodes` or `links` it will trigger re-animation to accommodate the new elements within the graph and adjust the visualization in an automatic way (intended behavior). This behavior can be simulated when clicking on the `+` button in the [live sa

[2019-02-26 21:52] danielcaldas commented on #175
Hello, @wendymungovan thanks for reporting, will look into it asap, also will take into account whether there are more people that considering this a relevant issue.

[2019-02-26 23:16] wendymungovan commented on #175
If you have a different (or more complete) way you want this fixed I can implement it.

[2019-02-27 09:12] sarcoma commented on #174
I've been working around this for the time being. Will be back on it in the next couple of weeks. Cheers for the pointers.

Might be good to drop this at the bottom the readme.

[2019-02-27 13:03] RZsam opened #177 "keyProperty instead of using fixed 'id' prop"
problem:
nodes are specified only by `id`  property

solution:
using `keyProperty` to  change `id` to anything else, just like `labelProperty` in  documentation

[2019-02-27 18:06] danielcaldas commented on #177
Each `node` within `data.nodes` array has its own `id` prop therefore, you should provide the ids via the `id` prop. I really can't foresee the advantages of having a dynamic `id` prop like we have for the `labelProperty`.

Also please use the issue template to provide structure. Thanks.

[2019-02-27 18:06] #177 closed

[2019-03-03 17:18] danielcaldas commented on #151
Just revisited this issue, seems that somehow the problem is not on the setting of `fx` and `fy` but rather on the nodes which are removed from the graph, therefore I'm closing this as it is a client-side integration issue. This can be easily triggered in the [react-d3-graph sandbox](https://goodguydaniel.com/react-d3-graph/sandbox/index.html) where nodes and links are removed randomly and dependi

[2019-03-03 17:18] #151 closed

[2019-03-03 17:48] danielcaldas commented on #164
Hey there @ondrej-janosik just noticed by the provided example that you are not using the `collapsible` feature. If you switch your implementation to use `collapsible` to make nodes collapse and expand `react-d3-graph` would nicely distribute as you can see in the [`marvel` sandbox example](https://goodguydaniel.com/react-d3-graph/sandbox/index.html?data=marvel). The implementation and config for

[2019-03-04 13:54] danielcaldas commented on #47
Closing with https://github.com/danielcaldas/react-d3-graph/pull/178. Will go on next release.

[2019-03-04 13:54] #47 closed

[2019-03-06 10:13] RZsam commented on #147
I have the same problem.
I'm using Graph example in documentation :

[code]
changing `fontSize` will change dx of text!

I've tried this in sandbox and it is working just fine. really don't know where the problem is?

[2019-03-07 12:20] danielcaldas commented on #147
`dx` is adjusted so that node and label don't overlap, current calculation is:

[2019-03-08 11:29] kbtganesh opened #180 "Links get disappeared while dragging the nodes"
**Description**
When I drag the node so long, the link cuts in between even though I was doing all these inside the svg container area.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create 2 nodes
2. Link them together
3. Zoom out to maximum
4. Click and drag one node to some distance and you can see link gets cut in middle.

**Expected behavior**
Link line should be visible while draggin

[2019-03-09 01:46] nabeel-akram commented on #97
Hi, any progress on this issue?

[2019-03-09 10:32] danielcaldas commented on #97
Hello @nabeel-akram this can be achieved by using `staticGraph` property.

[2019-03-10 16:31] danielcaldas commented on #180
Thanks for reporting this @kbtganesh, will take a look at it as soon as possible.

[2019-03-13 11:31] prateekgoel opened #181 "Graph not center aligned - Negative node positions cuts the graph"
**Describe the bug**
I am creating a graph with fixed node positions. However, when the node position consists of negative values, the graph is getting cut. Seems like the graph takes the position (0,0) at the top left corner of the container. Is there any way to center the entire graph inside the container?

Also, when I drag the graph to the center, the edges are not complete. See below.
![2019-

[2019-03-13 11:53] prateekgoel commented on #175
@danielcaldas I am also facing the same issue. It would be great if this can be fixed asap.

[2019-03-13 12:02] prateekgoel commented on #171
Any update on this? I need this feature in my project.

[2019-03-13 12:46] prateekgoel opened #182 "Originate edges from a fixed point instead of center"
Is it possible to have the nodes originating from a fixed point on node boundary instead of the node center? It would be nice to have this feature.

[2019-03-13 13:28] wendymungovan commented on #171
@prateekgoel It does not look like @danielcaldas has integrated this in to the main release yet but if you need it in the short term you can grab it from the working branch [https://github.com/Barnstorm-Research/react-d3-graph/tree/feature/rectangle_nodes](https://github.com/Barnstorm-Research/react-d3-graph/tree/feature/rectangle_nodes)

[2019-03-13 13:31] wendymungovan commented on #175
@prateekgoel there is a slightly better version on this branch [https://github.com/Barnstorm-Research/react-d3-graph/tree/feature/marker_placement](https://github.com/Barnstorm-Research/react-d3-graph/tree/feature/marker_placement).  There is a picture of how it works on #171.  It is better the more square your node shape is.  If you have ideas on how to make the arrow head appear tighter to the n

[2019-03-14 14:29] wendymungovan opened #183 "Delete (remove) nodes and links from graph"
**Describe the bug**
When you remove a node and associated links from the graph unless it is the last link in the list seemingly random links are removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Display a graph
2. Delete a node (not the last added and all associated links)
Incorrect links and nodes are removed from the graph.

My code is doing the same things as Sandbox onClickRemove

[2019-03-14 15:31] wendymungovan commented on #183
You can see this if you click the "-" button in https://goodguydaniel.com/react-d3-graph/sandbox/index.html?data=custom-node

[2019-03-20 02:12] Codecross opened #184 "ClassName prop not passed through to nodes/links"
Problem: Setting className attribute on nodes or links in data structure not propagated to graph objects.

We are setting the node/link attributes to include a className attribute which is not output on the graph. The assumption was that setting these would propagate to the `Node` & `Link` components created. Instead, they have fixed classes of `node` and `link` respectively.

Seems that graph.bui

[2019-03-22 04:43] aj47 opened #185 "Multiple edges between nodes"
**Describe the bug**
I'm trying to have multiple edges between the same two nodes but i get a same key waring and no extra edges rendered. how can i get around this?

Warning:
[code]

[2019-03-22 19:12] grant37 commented on #185
I was also looking at this. Seems the key for a link is always created from the source and target node ids in graph.renderer.jsx. You can see it in the `_renderLinks` function around line 37:
[code]
So I think avoiding the react issues mentioned in the key warning would require a change to that line setting the key. Maybe including the `link.labelProperty` in the key or using a `link.id` property

[2019-03-24 00:39] #165 closed

[2019-03-24 22:55] aj47 commented on #185
Thanks for the insights grant, yeah it seems possible with d3 js as per this jsfiddle i found on stack overflow http://jsfiddle.net/7HZcR/3/

[2019-03-25 23:08] WenxuanHu35 commented on #149
Hi, guys

Is there a concern to not making all the "Link level configurations" documented to be configurable for each link? I really like the idea of per link level customization and I saw you guys first added link.color, then link.width, now dash-line. And my use case would be link.type. I am not an expert in d3/react but I noticed the current implementation for link type depends on graph config.

[2019-03-26 17:51] wendymungovan commented on #180
I'm running into the same thing.  You can also reproduce the issue by panning the graph by pulling to the right and then dragging the node so it is outside the original width/height area.

[2019-03-27 14:40] wendymungovan commented on #180
I did a little investigating.  I'm not sure how to fix it but this seems to be related to the wrapping svg returned by Link.  I think there is a viewbox/viewport issue that we hit when we drag the node outside the original visible region of the larger graph.

<svg>  **<<< This guy**
                  <path {...lineProps} id={id} />
                  {label && (
                      <text style={{

[2019-03-27 17:54] danielcaldas commented on #181
Thanks a lot for reporting, this issue is being fixed under the issue https://github.com/danielcaldas/react-d3-graph/issues/180. Please follow this thread to be up to date.

[2019-03-27 17:54] #181 closed

[2019-03-27 18:02] #180 closed

[2019-03-27 18:20] danielcaldas commented on #182
Hi @prateekgoel please reopen this issue using the issue template for `feature request` and try to be the most detailed as possible so that I or some other contributor can jump into the discussion or tackle the issue with full context. Thanks!

[2019-03-27 18:20] #182 closed

[2019-03-27 18:22] danielcaldas commented on #171
Hey there! @wendymungovan do you think you could open a Pull Request with the work that you developed in that branch?

[2019-03-27 18:23] danielcaldas commented on #175
Nice job @wendymungovan! Looking promising! Feel free to submit a Pull Request :slightly_smiling_face:

[2019-03-27 18:32] danielcaldas commented on #183
@grant37 submitted a PR that is looking very promising, will update this issue as soon as I run some tests on the open PR. https://github.com/danielcaldas/react-d3-graph/pull/186#pullrequestreview-219650139

[2019-03-27 18:36] danielcaldas commented on #184
Currently `className` property is hardcoded. But if you consume `Link` or `Node` then you only need to provide a `className` prop within the component props and the `className` is applied. If this is not clear take a look at the source code here [graph.helper.js line 132](https://github.com/danielcaldas/react-d3-graph/blob/master/src/components/graph/graph.builder.js#L132)

[2019-03-27 18:42] danielcaldas commented on #185
Yes, currently we can only have one link between two nodes. We can work to expand this functionality, I see two alternatives:
1. We generate an internal identifier that avoids collisions appending some kind of count to the `source` -  `target`, `react-d3-graph` would have to keep track of links to detect duplicates and generate unique `key` values.
2. The user provides within each link something u

[2019-03-27 18:48] danielcaldas commented on #149
Hello, @WenxuanHu35 this was an architectural decision that I did in the beginning of the project:

1. All configs have as base/fallback source of truth a config in `graph.config.js`
2. As long as the project is growing and the community requests something to beat link level we can simply go to our builder methods and shift the priorities of the source of truth to the `link` or `node` itself, **bu

[2019-03-28 09:36] danielcaldas commented on #151
From the screenshot, it seems that this issue also pointed out this one https://github.com/danielcaldas/react-d3-graph/issues/183 which is going to be fixed here https://github.com/danielcaldas/react-d3-graph/pull/186

[2019-03-28 15:39] wendymungovan commented on #185
I think option 2 will make it easier when the user makes updates to the existing graph data.  This makes them responsible for keeping track of which link is which and not the library.

[2019-03-28 22:35] danielcaldas commented on #185
Good point @wendymungovan, it's also easier for clients to the scale the complexity accordingly if they are in control, given this **option 2** is also very valid, but I would not yet discard option 1. Let's see what do the others think about it?

[2019-03-28 23:04] #183 closed

[2019-03-28 23:05] danielcaldas commented on #183
This was fixed with https://github.com/danielcaldas/react-d3-graph/pull/186, will be published within the next release.

[2019-03-28 23:06] danielcaldas commented on #183
Thanks @grant37 for the PR! :ok_hand:

[2019-03-29 03:30] grant37 commented on #185
Hmm I guess each has its advantages. I think @wendymungovan is right that the second option would be a bit easier to implement. And the user might off-hand have a simple way to generate unique ids based on their data that doesn't use the index of the link in the links array. Because my initial thought was that the indices would make option 1 pretty simple but then I guess you want to [avoid using

[2019-03-29 17:30] LonelyPrincess commented on #185
I agree with @wendymungovan in that we we should give users a way to handle those links themselves. I think it's better to give the library' users as much control as possible, so if I'd had to chose, I'd go with option 2 as well.

As for the first option, I can't think of a way to implement it, because keeping track of the changes when the user modifies the data doesn't seem possible unless the us

[2019-03-31 16:03] danielcaldas commented on #185
From your feedback it seems that option 2 would be our best chance, I also like it and it will help us keep the codebase clean and generic :slightly_smiling_face:

Another thing to bear in mind is that I think this should not be an opt-in feature. Once we define in `react-d3-graph` API that clients must provide unique identifiers within `link` payload, this will no longer be compatible with the cu

[2019-03-31 22:10] Codecross commented on #184
Thanks, yes we updated graph.helper.js to get around the issue.
Do you plan for the component to actually consume Link & Node components int he future rather than passing in the `data` prop?

[2019-04-02 22:38] danielcaldas commented on #184
I'm sorry @Codecross, I'm not sure if I understood the question. You're asking if the `Graph` component will consume `Link` and `Node` components? It already does that, [check out the render method](https://github.com/danielcaldas/react-d3-graph/blob/master/src/components/graph/Graph.jsx#L475) in `Graph.jsx`.

[2019-04-05 07:59] M1sterPl0w opened #190 "Addition to readme"
Hi,

First of all, thanks for creating this wonderful piece of software.
I am fairly new to React and I was trying to get your example working with the following steps:
- npm install react-d3-graph
- add Graph tag and call backs into a component.

After this I did get several error message that it was missing d3-drag, etc etc.
After a while I thought maybe I should install d3 (npm install d3), thi

[2019-04-06 12:30] danielcaldas commented on #190
Hi there @M1sterPl0w! Thanks a lot for the input, that's right you need to install `d3` and `react` yourself as they are [peer-dependencies](https://nodejs.org/en/blog/npm/peer-dependencies/). This might not be very clear, I will update the `README.md` with this information.

[2019-04-06 22:29] danielcaldas commented on #190
Closing, `README.md` updated with #191

[2019-04-06 22:29] #190 closed

[2019-04-08 09:32] #167 closed

[2019-04-09 17:45] henzesberger opened #192 "Make node.renderLabel available at node level"
**Describe the bug**
I'd like to show the label information only when the user hovers over the nodes.
Since there is already a renderLabel property on the nodes, I tried to change it in combination with onMouseOverNode and onMouseOutNode but unfortunately, the labels are not shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a graph
2. Add some node data, set renderLabel in the gl

[2019-04-10 15:05] ivelichkovich opened #193 "Is there a way to make the graph render consistently?"
**Is your feature request related to a problem? Please describe.**
Every time the graph is rendered it looks different. I can drag it the way I like but I would like it to render the same every time.

**Describe the solution you'd like**
A flag where you can make it render the same every time to get a consistent look.

**Describe your use case**
I'm making a graph of network traffic. I would like

[2019-04-10 15:07] ivelichkovich commented on #193
Nevermind found the solution in the documentation

[2019-04-10 15:09] ivelichkovich commented on #193
So I need to use static-graph with node x and y coordinates, the documentation doesn't seem to say how to set node x and y coordinates

[2019-04-10 19:51] danielcaldas commented on #193
So, within `node` payload make sure you provide values for `x` and `y`.

[2019-04-10 19:51] #193 closed

[2019-04-10 20:00] danielcaldas commented on #192
Hi @henzesberger,

This is not possible to achieve as you can see in the documentation `node.renderLabel` does not have the symbol  🔍🔍🔍. This symbol indicates that the config is granular at node level, meaning that you can pass it within the node as you have in your code `node.renderLabel = true`.  If you look at the `size` you can see that it has the 🔍🔍🔍 symbol, meaning that you can actually have

[2019-04-11 04:25] Codecross commented on #184
Thanks @danielcaldas. What I mean is that all nodes/links must be passed using the direct props (props.data). You can't pass a Node or Link as a child prop (props.children) where you could set the className.

e.g.:
`
<Graph ...>
  <Node className='hidden' ... />
  <Link />
</Graph>
`

[2019-04-11 12:46] #172 closed

[2019-04-11 14:13] henzesberger commented on #192
Thank you very much, looking forward to have this feature.
It would be also great to have the same behavior for links.

[2019-04-11 19:58] henzesberger opened #194 "onDoubleClickNode"
**Describe the solution you'd like**
I'd like to have an onDoubleClickNode event, similar to onClickNode or onRightClickNode

**Describe your use case**
I'd like to be able to call a function when a user double-clicks a node in the graph.
In this case, onClickNode should not be called.

**Additional context**
Tried to implement it myself using a simple copy and replace approach but it didn't work

[2019-04-16 15:09] kwnkouts opened #195 "Start app with empty graph"
Hello, is there any way I can begin the app without a default node in the graph? I want the user to have an empty screen and then begin to compose his graph from the scratch.

If I don't use a default node, I get an error that the library can't render an empty graph.

Thank you in advance!

[2019-04-17 12:55] kwnkouts opened #196 "Fix graph position"
The default graph has two nodes without links between them. While starting the app the graph should render in the blank area in the middle of the screen. Instead, the graphs are somewhere up and left, so I have to drag the screen to see them. In addition to that the one is on top of the other.
How can I render my graph in the center? Here is the app when it first loads:

![image](https://user-imag

[2019-04-17 12:57] kwnkouts commented on #196
What I want to achieve is the following (after the app loads):
![image](https://user-images.githubusercontent.com/10096691/56289373-6bb3a700-6129-11e9-9bf9-762dbd152c64.png)

[2019-04-17 15:00] wendymungovan commented on #196
@kwnkouts Can you try setting x and y for each node to some value and passing that in? Right now it defaults the location to 0,0. The width and height are divided by 10 so a number between [0,200] and [0,130] should be visible.  I have not tried passing in x and y but it looks like it should work. Please let me know if it does.

[2019-04-17 18:03] kwnkouts commented on #196
Sorry, where do you mean I should pass x and y?

*A little side note. While running the app from my laptop where I first tested it, the new nodes approach the rest of the graph. After pushing it to git and cloning it to another pc I have the above mentioned problem which seems odd.

[2019-04-17 18:40] wendymungovan commented on #196
nodes: [ {id:'input', x:40, y:100}, {id:'node', x:50, y:20}]

[2019-04-18 07:06] M1sterPl0w opened #197 "Deleting nodes causes strange behavior"
**Describe the bug**
I am not sure if it is a bug or maybe I am doing something stupid. When I'm adding nodes and links, everything works just fine. But when I'm trying to delete some nodes and linked links the graph breaks. This is also the case in the sandbox. I've read something about this in the closed issues section, but this wasn't helpful.

**To Reproduce** **Expected behavior**
I am storin

[2019-04-23 07:29] Nerah opened #198 "Simple delete or Rename Node Name action"
**Describe the bug**
I tried to modify the name of a node and encounter a display error for the links.
Afterwards, I tried the demo to try to see if I was doing something wrong.
Here, I detected a bug on deleting actions.

**To Reproduce**
Steps to reproduce the behavior:
1. https://goodguydaniel.com/react-d3-graph/sandbox/index.html
2. Click on '-' button
3. See error

**Expected behavior**
Delet

[2019-04-25 20:03] danielcaldas commented on #198
This was potentially fixed with https://github.com/danielcaldas/react-d3-graph/pull/186. I think upon release of this fix we can close this issue, I'll leave it open to keep track of the problem. Thanks for reporting @Nerah

[2019-04-25 20:04] danielcaldas commented on #197
Hello @M1sterPl0w please follow https://github.com/danielcaldas/react-d3-graph/issues/198 for updates on this issue. I'll close this one and tag it as duplicate.

[2019-04-25 20:04] #197 closed

[2019-04-25 20:06] danielcaldas commented on #196
Hi @kwnkouts, I'll not close this issue since we already have a relevant thread that might be helpful to other developers, but please try to use the issues template the next time you open an issue. Thanks

[2019-04-25 20:07] danielcaldas commented on #195
Hello @kwnkouts thanks for reporting, but please use the issues template (feature/bug) so that we have a more contextualized overview on what exactly your problem or use case is. Thanks.

[2019-04-25 20:07] #195 closed

[2019-04-25 20:12] danielcaldas commented on #194
Thanks for the suggestion. This should be fairly easy to implement within our `Node` component. You just need to make sure that the callback is exposed through the `react-d3-graph` `Graph` API so that people can actually provide the callback through the top level API. If you want to give it a try, I would recommend you to look into [mdn dblclick event](https://developer.mozilla.org/en-US/docs/Web/

[2019-04-25 20:14] danielcaldas commented on #184
Hi @Codecross I currently don't have time to look into this issue. Please feel free to submit a PR 🙂

[2019-04-27 09:24] danielcaldas commented on #198
Fixed with [release 2.0.2](https://github.com/danielcaldas/react-d3-graph/tree/2.0.2)

[2019-04-27 09:24] #198 closed

[2019-04-28 09:33] #174 closed

[2019-05-02 20:05] #164 closed

[2019-05-06 19:02] naveendb92 opened #199 "Close all target nodes on load"
Hello,
I have **3 nodes** with and each node has around **1000** target nodes. And the graph is taking time to render.

Is there an option to **close all target nodes** by default or on load, and when the user **clicks on any node** the target node for that source opens up.

[2019-05-07 07:34] danielcaldas commented on #199
Hello @naveendb92 please use the issue template the next time you open an issue, it's making our lives much easier when reading through the issue, resulting in faster response time and more detailed response as well 🙂

Regarding your questions please look into the [official docs](https://goodguydaniel.com/react-d3-graph/docs/index.html#config-global) and look for the config `collapsible`, this wil

[2019-05-07 11:04] IgorMacGregor commented on #194
Hello,
I would like to work on that issue ! :)

[2019-05-09 06:03] danielcaldas commented on #194
Hello @IgorMacGregor, awesome, thanks for that. Tagged the issue with `in progress`

[2019-05-09 18:22] kwnkouts opened #200 "Static graph"
Hello,
in my original app, when I add a node to the graph, it is "attracted" to the center of the screen among with the rest of the graph (config has -> staticGraph: false). Now, after I pushed the project with git and then cloned it again the graph does not have the same behavior. Instead, nodes do not appear in the center of the screen so I have to "scroll" up and left to find them and every new

[2019-05-09 20:50] danielcaldas commented on #200
Hi @kwnkouts please use the issues template to open issues. Thanks 🙂

[2019-05-09 20:50] #200 closed

[2019-05-10 12:57] kwnkouts commented on #200
I think I created this in the issue template. Am I wrong?

[2019-05-10 18:25] zerans opened #201 "Error clicking nodes composed of `mdi-react` icons"
**Describe the bug**
When using an icon from `mdi-react` in a node, clicking the node throws an error.

Looks like the offending code is here:

[code]

The icon node is SVG, but doesn't have a `name` attribute.

**To Reproduce**
1. Configure a graph with a `viewGenerator` like this, where `AlertIcon` is imported from `mdi-react`

[code]

2. Click a few nodes on the graph (might take a few clicks f

[2019-05-12 19:42] danielcaldas commented on #200
Hi @kwnkouts please refer to the follow issue template:

[code]

[2019-05-12 19:45] danielcaldas commented on #201
Hi @zerans thanks for reporting, will look into it asap, in the meantime if anyone wants to take a look at it It just a matter of making sure that this `e.target.attributes.name.value` is accessible by checking for the existence of the property.

[2019-05-21 13:29] silverspy opened #203 "How to set label on connections between nodes ?"
How to set label on connections between nodes ?
I see something [here](https://github.com/danielcaldas/react-d3-graph/pull/178) but I can't make it work

[2019-05-21 13:46] #203 closed

[2019-05-27 08:28] #149 closed

[2019-05-29 17:23] Nerah opened #204 "Node drag and drop methods"
**Is your feature request related to a problem? Please describe.**
Let's imagine that I want all the data of my graph to be dynamically persistent.
Actually, it would be impossible for the position of the nodes.
If I take the time to change their position in a specific way and then refresh the graph directly, they all come back to their original position. I find it a bit frustrating.

**Describe t

[2019-06-01 08:28] MohandesaliRahnema opened #205 "zoom handler not work"
hi
why _zoomConfig handler not work

onZoom = (data) =>console.info(`zoom ${data}`);

const graphProps = {
               ...
                zoomed: this.onZoom,
                // or
                // zoomConfig: this.onZoom,
            };

[2019-06-01 10:13] danielcaldas commented on #205
Hello @MohandesaliRahnema thanks for reporting, but please use the issues template (feature/bug) so that we have a more contextualized overview on what exactly your problem or use case is. Thanks.

Regarding what you posted, there's no such method exposed in the [official react-d3-graph API](https://goodguydaniel.com/react-d3-graph/docs/index.html). Please submit a feature request if you would lik

[2019-06-01 10:13] #205 closed

[2019-06-07 18:23] #163 closed

[2019-06-08 14:59] SRomero321 commented on #126
I would also really like this feature, @smilykoch has anyone reached out to you on that PR?

[2019-06-11 10:17] smilykoch commented on #126
I did not do anything further no, as we ended up going with a different approach.

[2019-06-11 20:35] danielcaldas commented on #126
Hello @smilykoch could you please maybe elaborate on that alternative approach so that other people might find their way (even if you used another graph library 😉)

[2019-06-12 07:12] smilykoch commented on #126
Well... I dont think our solution will help anyone else, as we actually ended up scrapping the entire page where the graph should have been, and went with an entirely different representation. :stuck_out_tongue:

If you end up getting a PR for this feature merged, we might want to rethink the page once again though..

[2019-06-12 16:37] SRomero321 commented on #126
@danielcaldas @smilykoch Thank you for responding, the issue for my app is that the graph is updated dynamically. Any time an update is made to the graph is spazzes out pretty badly. Is there a way,  to change the color of a node, with out re-rendering the entire graph? I apologize for my limited understanding of React and D3 in general.

[2019-06-12 19:11] danielcaldas commented on #126
@SRomero321 you can achieve that by passing a color.

![change-node-color](https://user-images.githubusercontent.com/11733994/59379302-90598300-8d56-11e9-955b-8f6e7bf99ce2.gif)

[2019-06-12 23:43] SRomero321 commented on #126
@danielcaldas Thank you, let me see if I can emulate.

[2019-06-13 00:52] SRomero321 commented on #126
@danielcaldas I am populating the graph from data coming in from an API. I am adding this data to the state in "componentDidMount". The graph reads the data from the state. I also setup up a timer in "componentDidMount" which updates the colors of the nodes in the graph. When the nodes are updated the graph spazzes out. I think I am definitely doing something wrong here because your example does n

[2019-06-20 21:08] danielcaldas commented on #194
This was merged, it will be included in the next release of `react-d3-graph`. Thanks a lot for your contribution @IgorMacGregor  :tada: @henzesberger @LonelyPrincess  stay tuned :slightly_smiling_face:

[2019-06-22 20:13] rinkudas opened #206 "Not able to override d3 level config"
Hi I am using below configuration to be passed, but d3 level configurations are not working, still having default value. How to set these?

const GRAPH_CONFIG = {
  linkHighlightBehavior: true,
  width: 900,
  height: 600,
  d3: {
    gravity: -400,
    linkLength: 100,
    linkStrength: 1,
    alphaTarget: 0.05
  },
  node: {
    color: "yellow",
    size: 120,
    highlightStrokeColor: "blue"

[2019-06-23 18:47] danielcaldas commented on #206
Hello @rinkudas  thanks for reporting, but please use the issues template (feature/bug) so that we have a more contextualized overview on what exactly your problem or use case is.

Regarding the particular d3 config you just mentioned, it should work just fine, the values are consumed by the object that you provided, but maybe in your case, you have something blocking the graph from updating.

[2019-06-23 18:47] #206 closed

[2019-06-23 20:25] danielcaldas commented on #194
Released in [2.1.0](https://www.npmjs.com/package/react-d3-graph/v/2.1.0) 🎉

[2019-06-23 20:25] #194 closed

[2019-06-23 20:25] danielcaldas commented on #201
Released in [2.1.0](Released in 2.1.0 🎉) 🎉

[2019-06-23 20:25] #201 closed

[2019-06-24 21:06] #196 closed

[2019-06-24 21:06] #184 closed

[2019-06-26 13:04] H-Mah-D commented on #143
Hello @gregorykan, have you been able to fix this problem? I have the same problem .. I still get the circular shaped graphs whenever I change the data of the graph ..

[2019-07-06 08:34] #199 closed

[2019-07-06 08:34] #171 closed

[2019-07-06 08:34] #175 closed

[2019-07-12 07:24] xolyshka opened #208 "Circled layout on click"
Hello!

I need to implement a behaviour so that when you click on a certain node others will surround it evenly spacing on a circle.

I've done this in D3 by updating x,y coordinates of each node manually. But since my project is on React I was wondering if there is an easy way to do this using react-d3-graph?

[Live example of how it should look like (Not mine) ](http://moebio.com/newk/twitter/)

[2019-07-12 17:40] danielcaldas commented on #208
Hello, @xolyshka I don't have the current time to look into this in detail, it's a feature that `react-d3-graph` does not support out of the box, but it could be extended in that way. I'll tag it as a feature request, PRs are always welcome 🙂

Please use the issues template (feature/bug) so that we have a more contextualized overview on what exactly your problem or use case is. Thanks.

[2019-07-18 20:02] liobouchan commented on #185
Hello i have the some issue relationed to this issue "Multiple edges between nodes #185", I have 2 nodes.
[code]

And i have multiple relationships beetween this nodes i have an unique id for each relationship , my links are like this.

[code]

I now that multiple links between nodes are not possible , but i have a problem, i got a lot of warning messages all the time when i touch the nodes or whe

[2019-07-19 07:19] danielcaldas commented on #185
Hello @liobouchan please use the issue/feature report template and open a new issue.

(But what I see from the logs, it's more of an internal error of React that is caused because you have the same identifier either for links or nodes.)

[2019-07-19 15:32] liobouchan commented on #185
Thanks @danielcaldas , Thank you very much I will create the issue, what seems strange to me is that the links and nodes have completely different identifiers, I do not understand where that problem would come from.

[2019-07-26 13:46] popadi opened #209 "Link label content goes under the node"
Hello!
I noticed that when you add a slightly longer label to a link, it starts from the middle and might end up under the node.

![Image](https://i.imgur.com/Ss3DhUu.png)

If you increase the link length, the label becomes visible, but it doesn't look so pleasant when  the links are kilometers in length.

![Image2](https://i.imgur.com/kHlfAuT.png)

Is there anything to do to be able to display th

[2019-07-26 17:18] danielcaldas commented on #209
Hello @popadi!

Thanks for the report. But this is precisely the current intended behavior, in order not to overflow the text. What we could maybe introduce would be a tooltip or some other element that would allow users to see the text between the links even when the space between the nodes does not allow it. What do you think about this one @LonelyPrincess?

[2019-07-31 16:42] andfelzapata opened #210 "link.renderLabel is not true by default"
**Describe the bug**
Docs state that link.renderLabel is set to true by default, but this is not the case. If you have a link with a label property, it will not be shown.

**To Reproduce**
Add a label property to a link, it will not be shown.

**Expected behavior**
If a link has the label property, ti should be shown on screen.

[2019-07-31 17:04] #210 closed

[2019-07-31 17:04] andfelzapata commented on #210
nvm, I was confused with the node.renderLabel. Great library btw.

[2019-07-31 19:01] danielcaldas commented on #210
Hi @andfelzapata thanks for cleaning up.

[2019-08-02 05:42] danielcaldas opened #211 "Not passing data.links breaks the library while it should throw a custom error"
**Describe the bug**
A detailed stack can be found below:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `<Graph />` component without `links` in the data
2. Mount the  graph
3. An internal error is thrown while ideally, we should show to the developers why the library is breaking (in this case, because we don't pass `links` data)

**Expected behavior**
We should see a cust

[2019-08-02 05:43] danielcaldas commented on #211
@LonelyPrincess what do you think it would be the most appropriate message in this case? Do you think the example I provided is clear enough?

[2019-08-02 19:45] LonelyPrincess commented on #211
You're right, it would be good to trigger a custom message to make things clear to the developer in this case. The message you provide suggests that they may have forgotten to include the `links` property, but if we know for sure they're missing that out, we could be more straightforward about the issue.

[code]

There's something else we may need to consider, though. 🤔 Since passing an empty link

[2019-08-02 20:03] LonelyPrincess opened #212 "[Sandbox] Fail to remove links / nodes in the live demo example"
**Describe the bug**
The sandbox example breaks when the user tries to remove an item by using the `-` links found in the editable _Graph Data_ section. This applies to both nodes or links.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [sandbox page](https://goodguydaniel.com/react-d3-graph/sandbox/index.html)
2. Expand the `links` or `nodes` property in the _Graph Data_ section

[2019-08-06 03:45] danielcaldas commented on #36
For those looking into this issue, there is a way more advanced way to customize nodes in `react-d3-graph` though `node.viewGenerator`, you can pass a custom render function per node within the config. Check out the [docs](https://goodguydaniel.com/react-d3-graph/docs/index.html)

[2019-08-07 00:20] andfelzapata commented on #185
Any progress on this ? A workaround ?

[2019-08-08 08:34] danielcaldas commented on #212
Now that I'm reading the description of the issue with more attention, this is not actually a bug. If you remove a node you must ensure that the respective links, that refer that node are also removed. **But** removing a link tough, should not fail... even if some node becomes orphan afaik, the graph should not break.

I'll look into it with more detail, can't promise that I'm come out with a solu

[2019-08-08 08:53] danielcaldas commented on #212
Actually, I think I got it! Somehow [react-editable-json-tree](https://github.com/oxyno-zeta/react-editable-json-tree) is giving us `null` instead of completely removing the element from our data. Is this expected behavior of your library @oxyno-zeta?

![image](https://user-images.githubusercontent.com/11733994/62689281-16174900-b9fd-11e9-84e6-c1044a9113fd.png)

[2019-08-08 09:13] oxyno-zeta commented on #212
Hello @danielcaldas ,
Yes the remove button first remove the `object` and put `null` at the same place. After, you can remove the `null` item.
This mecanism was done to allow changing from object to another type like `Array`, `string`, `boolean`, ... Otherwise, no type change was possible :).
I'm sorry that this breaks your demo.
Tell me if you have any questions.

[2019-08-08 09:17] danielcaldas commented on #212
All good! Your docs are awesome @oxyno-zeta! I'll be using `onBeforeRemoveGraphData` and `onFullyUpdate` functions to handle this properly in our sandbox.

[2019-08-08 09:35] oxyno-zeta commented on #212
Thanks :)
Maybe the `onDeltaUpdate` (https://github.com/oxyno-zeta/react-editable-json-tree#ondeltaupdate) is better because there is a delta object that can help you to detect `null` objects and where are they no ?

[2019-08-08 09:47] #212 closed

[2019-08-08 09:48] danielcaldas commented on #212
Fixed with #216

[2019-08-19 19:11] ats393 opened #218 "How to import Graph helper functions"
How can I import the helper modules into my react component. Is there an example you can provide?

[2019-08-19 21:47] danielcaldas commented on #218
Hello @ats393,

Currently only `Link`, `Node` and `Graph` components are exports as you can see in the [src/index.js](https://github.com/danielcaldas/react-d3-graph/blob/master/src/index.js).

[code]
If you really want to use them, you can always do a deep import from `react-d3-graph` source, like the following examples:

[code]

But it's not recommended, and the helpers alone were not meant to be

[2019-08-28 11:05] jiriproX commented on #204
Hi, I'm looking for that feature as well. Is there any other way how to persist node position after node drag and drop?  I would need to save actual node position as initial node position for next refresh.

[2019-08-28 17:40] danielcaldas commented on #204
Hello @jiriproX you can actually achieve that just by saving the graph data object that you pass down to `Graph` as props in some storage (e.g. localStorage) and the add that as the initial state. It works like a charm. You need to use `staticGraph` or (yet to be released) a new upcoming property called `staticGraphWithDragAndDrop` that will still allow you to drag and drop nodes.

[2019-08-29 12:26] jiriproX commented on #204
Hi Daniel, it seems that proposed solution does not work for my usecase. I download list of nodes and links from server. Then I generate default initial positions for nodes. That I can store to localStorage and use it for page reloading. At this point I want user to drag and drop nodes to some meaningful layout.
Here is the crucial point. I'm not able to store "that new meaningful" layout for next

[2019-08-29 13:12] wendymungovan commented on #204
I have a solution but it is a little bit funky.  We had to do something similar.  If you extend the Graph class you can add in this function that will get at the private variables.  Then your calling class will be able to call for each node and get the position when you want to do that.

` /**
     * Gets the x,y position of the given node from the d3Nodes state
     * @param id node id
     * @re

[2019-08-29 14:33] ali1k opened #219 "how to add color to SVG nodes?"
What's the best way to fill the svg images with a color?

[2019-08-30 07:28] danielcaldas commented on #219
Please use the issue template next time you want to report an issue @ali1k. Regarding your question please check the [official documentation](https://goodguydaniel.com/react-d3-graph/docs/index.html#config-node) and look for the property `node.color`.

[2019-08-30 07:41] ali1k commented on #219
sure, will do that next time.
I have already read the documentation. The issue is when I give a SVG attribute to a node, then the color attribute is not applied anymore!

[2019-08-30 21:12] danielcaldas commented on #219
Hello @ali1k, could be a bug, but without some more detail, it's very hard to tell for sure. Could you please add the detail requested in the [Issue Bug Template](https://github.com/danielcaldas/react-d3-graph/blob/master/.github/ISSUE_TEMPLATE/bug_report.md)? Thank you.

[2019-09-04 15:42] owlstack opened #221 "SVGs show up as broken image"
**Describe the bug**
I'm trying to replace the node shape with SVG I have but it shows up as broken image instead. I'm using Chrome browser. Is there anything else I need to setup specifically for SVG image use besides adding 'svg' property to node data?

**To Reproduce**
Steps to reproduce the behavior:
Example SVG I'm using:
`<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org

[2019-09-04 16:02] owlstack commented on #221
Sorry, please close issue, looks like it only works under /public folder in react. I do wonder if there's a way to get another directory working however.

[2019-09-04 16:02] #221 closed

[2019-09-04 16:06] owlstack opened #222 "Tooltip on hover or click?"
**Describe the solution you'd like**
I'd like to provide more information about individual nodes in my graph. I was wondering if there's a tooltip on hover or click to display the additional node data? Like a label for each node to display.

**Describe your use case**
graph with node data.

**Describe alternatives you've considered**
Maybe regular d3.js has access to this feature and it would be n

[2019-09-04 16:13] owlstack commented on #46
@danielcaldas What about for tooltips like in this graph? https://bl.ocks.org/d3noob/257c360b3650b9f0a52dd8257d7a2d73

I want to display several pieces of text inside this tooltip like in the graph above when you hover over the nodes and I wonder if i can keep a tooltip fixed as well?

[2019-09-04 16:51] danielcaldas commented on #46
Hello @owlstack as mentioned before

Please use [custom nodes](https://goodguydaniel.com/react-d3-graph/sandbox/index.html?data=custom-node) where you can define yourself a tooltip.

[2019-09-04 16:53] danielcaldas commented on #222
Hello @owlstack, thanks for reporting. This is a duplicate of https://github.com/danielcaldas/react-d3-graph/issues/46. You can use [custom nodes](https://goodguydaniel.com/react-d3-graph/sandbox/index.html?data=custom-node) where you can define yourself a tooltip.

[2019-09-04 16:55] danielcaldas commented on #221
You can check our [example in the sandbox](https://github.com/danielcaldas/react-d3-graph/blob/master/sandbox/data/custom-node/CustomNode.jsx) as well. Thank you for closing the issue.

[2019-09-04 17:30] owlstack commented on #46
@danielcaldas What would be the best way to handle hover/click scenario then? If hover/click, then display icon div otherwise, don't?

Also, is this a thing or is not implemented currently:

 node: {
        showToolTip: true,
        tooltipProp: 'id',
        tooltipBackgroundColor: ' black',
        tooltipTextColor: 'white'
   }

Where I can set a tooltip id, have a show/hide bool, etc... ? Th

[2019-09-05 19:24] woozyking commented on #185
from https://github.com/danielcaldas/react-d3-graph/issues/185#issuecomment-475746508

this seems to be a solution utilized in similar libraries

[2019-09-05 20:35] danielcaldas opened #223 "Drag&Drop does not work for leaf nodes after collapsing and uncollapsing"
**Describe the bug**
When the config `collapsible` is set to true, left nodes that have once been collapsed cannot be dragged anymore, instead the whole graph will be dragged in the attempt of dragging that specific node.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [sandbox](https://goodguydaniel.com/react-d3-graph/sandbox/index.html?data=small)
2. Click on the checkbox of `col

[2019-09-05 22:10] #223 closed

[2019-09-08 13:54] jalite1991 opened #226 "Returning x and y coordinates for nodes using viewGenerator"
Question for the viewGenerator,

I was trying to create a web where I force certain nodes to be rendered on the x coordinate 0, and y coordinate dynamically determined like the default functionality. This way certain nodes would render downward in a straight line, and all other nodes will branch of like a tree, Is this possible without adding a feature request.

I see that I can use the object Nod

[2019-09-08 15:11] danielcaldas commented on #226
Hi, @jalite1991 could you please use the bug report template and provide more detail? Also, some code examples would be great so that we can see exactly what's not working in your integration.

[2019-09-08 17:00] jalite1991 commented on #226
Sorry about that.

**Description**
I am trying create a tree like web where there are special nodes that go straight down like a timeline. and branch nodes that stem from those node nodes. So would like to keep the default functionality where branch nodes x and y coordinates are calculated, but those special nodes always need to have same value returned as their x coordinate. Y can increment based

[2019-09-08 19:02] danielcaldas commented on #226
Hi, @jalite1991 thanks for the more detailed report. Now I understand what you're trying to achieve. Unfortunately, you cannot give coordinates to some nodes and leave other nodes without coordinates.  I would first recommend you to use `staticGraphWithDragAndDrop` property, you can [read in the docs about it](https://goodguydaniel.com/react-d3-graph/docs/index.html), and then you would need to pr

[2019-09-11 09:28] jiriproX commented on #204
Requested feature seems to be delivered by onNodePositionChange callback added in PR(#228). It was merged yesterday and will be part of next release.
@danielcaldas When will be new version 2.2.x or 2.3.x released?

[2019-09-11 11:54] juvenull opened #229 "How coordinate converting"
Hi!

I set coordinate like your example.
![coordinate_example](https://user-images.githubusercontent.com/8269488/64694940-a08f1480-d4a3-11e9-9529-058cb4763c1c.PNG)

But in svg coordinates has been converted,
![coordinate_example2](https://user-images.githubusercontent.com/8269488/64695001-c9170e80-d4a3-11e9-8422-f2a05e2e3ae3.PNG)

What the logic?
x=50, y=310 to x=129, y=267.

How i can get origina

[2019-09-11 16:19] danielcaldas commented on #204
Yes, @jiriproX. This will be in the next release of react-d3-graph. I'll close the issue upon release.

[2019-09-11 16:22] danielcaldas commented on #229
Hello @juvenull could you please use the issue template report so that we can get more detail on the issue. Thanks

[2019-09-14 16:25] danielcaldas commented on #204
Closing this with release of [react-d3-graph@2.3.0](https://github.com/danielcaldas/react-d3-graph/releases/tag/2.3.0).

[2019-09-14 16:25] #204 closed

[2019-09-18 13:54] Synadren opened #232 "Cannot get node coordinate"
**Describe the bug**
I would like to save the position of a node after moving it. I can't access to its coordinate with "onNodePositionChange"

**To Reproduce**
[code]
[code]

**Expected behavior**
There should be an alert when a node is moved. Everything else seems to work fine, I can move it and set a default position

**Environment:**
 - OS: [e.g. iOS]
 - Browser chrome
 - Version 76.0.3809.132

[2019-09-18 18:26] danielcaldas commented on #232
Hi @Synadren please use react-d3-graph version `2.3.0`. The feature you're trying to use it's only available from version `2.3.0`.

[2019-09-25 20:11] #222 closed

[2019-09-25 20:16] danielcaldas commented on #232
As mentioned, this was only released in version [2.3.0](https://goodguydaniel.com/react-d3-graph/docs/index.html), please upgrade and consult the [respective documentation](https://goodguydaniel.com/react-d3-graph/docs/index.html) for `onNodePositionChange` API.

[2019-09-25 20:16] #232 closed

[2019-09-26 02:57] MoonSeeing opened #233 "the label displayed on the link can not horizontal display"
**Is your feature request related to a problem? Please describe.**
the label displayed in the link always alone the line direction.sometimes it is very a terrible visual experience.
following is the effect.change  to vertical display.it not good for reading for user

*
![image](https://user-images.githubusercontent.com/19420622/65654479-92b4c400-e04b-11e9-91d5-79a23f6cd41d.png)
     not good to sh

[2019-09-26 08:58] MoonSeeing opened #234 "link.type only can make effect in global"
**Is your feature request related to a problem? Please describe.**
I have test link.type can only make effect when set in the config. You can not specified one type for a link.

[code]

**Describe the solution you'd like**
when i set one link

[code]
it did not not make effect.
i think the (link.type) should as same as( node.svg)that can specified one svg for a node.

[2019-09-26 11:22] danielcaldas commented on #234
Hello, @MoonSeeing thanks for reporting it. This library is slowly moving into having all its properties to take local and global effect. We can see for past requests such as:

- `node.renderLabel` in https://github.com/danielcaldas/react-d3-graph/issues/192
- `link.color` in https://github.com/danielcaldas/react-d3-graph/issues/71
- `node.strokeColor` in https://github.com/danielcaldas/react-d3-g

[2019-09-27 21:46] LonelyPrincess commented on #219
Hi there! Could you provide us an example on what you've done so far? 🤔

Are you using the `node.svg` property? If that's the case, I don't think `node.color` can help you achieve what you want. This property applies only to the default shapes (check `node.symbolType` in the docs), but will do nothing if you're setting a custom SVG image by specifying an URL in `node.svg`.

If I'm not wrong about

[2019-09-29 21:28] #218 closed

[2019-09-29 21:49] danielcaldas opened #235 "Migrate from react UNSAFE_componentWillReceiveProps to getDerivedStateFromProps"
**Describe the issue**
We current use in the [Graph](https://github.com/danielcaldas/react-d3-graph/blob/master/src/components/graph/Graph.jsx#L494) component the react lifecycle method `componentWillReiceveProps`.  This method has been deprecated in favor of [getDerivedStateFromProps(props, state)](https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html#new-lifecycle-getderivedstatefro

[2019-09-29 21:57] danielcaldas opened #236 "Make use of jest `.toMatchSnapshot` in library unit tests"
**Describe the issue**
Currently there are a lot of cases where it makes sense to use [.toMatchSnapshot](toMatchSnapshot) instead of `.toEqual`.

**Expected**
In tests such as [this example of graph.builder.spec.js](https://github.com/danielcaldas/react-d3-graph/blob/master/test/graph/graph.builder.spec.js#L104), replace usages of super verbose and gigantic `toEqual` for `toMatchSnapshot`.

Exampl

[2019-09-29 22:24] danielcaldas opened #237 "Flashing graph when drag&drop node"
**Is your feature request related to a problem? Please describe.**
The library offers the ability to drag and drop nodes out of the box. At the same time, the library allows highlight of neighbors only when configs such as `linkHighlightBehavior` and `nodeHighlightBehavior` are active.

The problem is, when you have the highlighted behavior active and you drag and drop around nodes, it gets a bit

[2019-09-29 22:25] danielcaldas commented on #192
This issue is very similar to https://github.com/danielcaldas/react-d3-graph/issues/234 and the others linked under the same issue.

[2019-09-30 18:54] danielcaldas opened #238 "Make link end marker's width and height configurable"
**Is your feature request related to a problem? Please describe.**
Currently there is no way for users to specify the width and the height of link's [marker[(https://developer.mozilla.org/en-US/docs/Web/SVG/Element/marker)'s elements. As you can see in our codebase, this values are hardcoded, see for yourself in [src/components/marker/Marker.jsx](https://github.com/danielcaldas/react-d3-graph/blob

[2019-09-30 19:02] danielcaldas opened #239 "Add tooltips to sandbox playground configs"
**Is your feature request related to a problem? Please describe.**
There is a lot and good documentation about all the properties that users can try in the [live examples](https://goodguydaniel.com/react-d3-graph/sandbox/index.html). It would be awesome to have that information directly available (as well) in the live example.

**Describe the solution you'd like**
Add information about each one of

[2019-10-01 07:54] nguyenami commented on #236
I would like to take this issue 👍🏻

[2019-10-01 08:28] danielcaldas commented on #236
Go for it @nguyenami :muscle:

[2019-10-01 16:59] danielcaldas commented on #239
Closing with https://github.com/danielcaldas/react-d3-graph/pull/240

[2019-10-01 16:59] #239 closed

[2019-10-01 20:05] danielcaldas opened #241 "Improve live example by replacing all window.alerts by toasts or other non blocking alerts"
**Is your feature request related to a problem? Please describe.**
Currently, there are a few `window.alert` usages in the live example that might be a bit annoying for the end-user because although in fact an action was performed, it does not mean that we need to interrupt the browser.

**Describe the solution you'd like**
Provide the interaction example messages in a nonblocking notification com

[2019-10-01 22:11] danielcaldas commented on #237
Fixed with https://github.com/danielcaldas/react-d3-graph/pull/242

[2019-10-01 22:11] #237 closed

[2019-10-02 21:28] danielcaldas commented on #236
Closing this with https://github.com/danielcaldas/react-d3-graph/pull/243

[2019-10-02 21:28] #236 closed

[2019-10-02 23:41] danielcaldas commented on #241
Closing this with https://github.com/danielcaldas/react-d3-graph/pull/244, no lib dist affect. New sandbox bundle released with https://github.com/danielcaldas/react-d3-graph/pull/244. The new sandbox version is live.

[2019-10-02 23:41] #241 closed

[2019-10-03 09:34] danielcaldas commented on #229
FYI you can't set `x` and `y` through the interface in that way, you need to provide the values of `x` and `y` programmatically, they will just kick in the first receive props of the underlying top-level component of react-d3-graph (which is the `Graph` component).

[2019-10-03 09:34] #229 closed

[2019-10-03 09:37] danielcaldas commented on #226
@jalite1991 any workaround for this? Did you manage to achieve the behavior you intended?

[2019-10-03 09:40] danielcaldas commented on #209
Adding again label `investigate` as this could potentially be analyzed/tackled together with https://github.com/danielcaldas/react-d3-graph/issues/233.

[2019-10-03 15:54] jalite1991 commented on #226
@danielcaldas I had to turn on the staticGraph to true and try to place the x/y coordinates myself. It works but it is not achieving the desired function since I am having trouble adding new nodes, and rearranging old nodes to accommodate the new node positions.

I am trying to figure out a way onComponentUpdate to recreate the graph with the new node positions without unmounting it first. Any sug

[2019-10-03 16:01] danielcaldas commented on #226
FYI if you want to be able to still drag&drop nodes around you can use `staticGraphWithDragAndDrop`.

Your strategy seems reasonable. You just need to make sure that whenever you add new nodes you do not create new references of new values for the existent nodes, you need instead to just fine tupe the positions of existent nodes. In theory, it looks that it might be exactly what you're looking for

[2019-10-03 18:29] jalite1991 commented on #226
Awesome. Thank you.

Do you think this is a plausible feature request. The ability to set certain nodes to specific x,y value and having the other nodes be calculated around them.

[2019-10-03 21:35] danielcaldas commented on #226
Hey @jalite1991 do you mean something like this https://github.com/danielcaldas/react-d3-graph/issues/208?

[2019-10-04 14:59] chisom5 commented on #235
can i work on this? if you don't mind

[2019-10-04 15:08] danielcaldas commented on #235
Hey @chisom5 sure, you're the first claiming it, I'll assign it to you :slightly_smiling_face:

[2019-10-05 12:12] SachinVarghese commented on #238
@danielcaldas I would like to work on this. Can you explain how are these markers being rendered from SVG defs?

[2019-10-07 04:45] danielcaldas commented on #238
Done in https://github.com/danielcaldas/react-d3-graph/pull/245

[2019-10-07 04:45] #238 closed

[2019-10-09 18:26] jalite1991 commented on #226
That's pretty close to the idea

[2019-10-10 13:39] danielcaldas commented on #226
@jalite1991 As I mentioned, I don't have the current time to look into this in detail, it's a feature that react-d3-graph does not support out of the box, but it could be extended in that way. I'll tag it as a feature request, PRs are always welcome.

[2019-10-11 11:41] danielcaldas commented on #235
Hi @chisom5 please check the [Contributions](https://github.com/danielcaldas/react-d3-graph#contributions) section of the README of the project, cheers!

[2019-10-11 15:45] chisom5 commented on #235
got that thanks

[2019-10-13 19:40] gopherine commented on #234
I have made a pull request however i dont like the way i have named the variable may be someone can guide me on this i need it so i ll do it quickly hoping for quick update using this to show hybrid network ... where i need to show local and global edges distinctively so yes also this is my first time contributing to open source so please let me know if i did something wrong thanks :)

[2019-10-14 08:40] honggyookim opened #248 "If node hasn't any links, node stacked in left corner."
**Describe the bug**
There are some nodes without any links in my data,
and they are stacked in the left corner.
Why these things happen?
I've been try figure out to fix this problem for one week, but I couldn't.
Please help me.

My codes are very simple.
`const data = {`
`   nodes: [{ id: "Harry" }, { id: "Sally" }, { id: "Alice" }, {id: "TestNode"}],`
`   links: [{ source: "Harry", target: "Sall

[2019-10-14 08:48] danielcaldas commented on #248
Hi @honggyookim thanks for the report. I tried myself with the `small` dataset example, using the following data:

[code]

Everything seems to work fine. The *solo* node, is not stacked at the top left corner...

![image](https://user-images.githubusercontent.com/11733994/66738977-4cac8c80-eea2-11e9-8451-448516ab8473.png)

Do you have any error in the browser console that could give us more detail

[2019-10-14 08:49] danielcaldas commented on #248
Also, note that you might need to provide an initial position, as we do in [the interactive sandbox example](https://github.com/danielcaldas/react-d3-graph/blob/master/sandbox/Sandbox.jsx#L242).

[code]

[2019-10-14 10:59] danielcaldas commented on #234
Done with https://github.com/danielcaldas/react-d3-graph/pull/247

[2019-10-14 10:59] #234 closed

[2019-10-15 00:48] honggyookim commented on #248
I'm really appreciate for your quick response.
I tried that your suggestion. and I faced on the same problem.

I created new project, and I didn't set any options.
Result is sames as below.

![bug_2_1](https://user-images.githubusercontent.com/14064349/66791561-b58e1600-ef2f-11e9-95b7-f4cdc7ec17c0.png)

![bug_2_2](https://user-images.githubusercontent.com/14064349/66791562-b626ac80-ef2f-11e9-8732-

[2019-10-15 05:35] honggyookim commented on #248
I solved it in second way you suggested.
Thank you very much.

[2019-10-15 08:19] #248 closed

[2019-10-15 17:37] ashish10677 commented on #192
Is this issue still open? I am a newbie and would like to contribute. Please let me know.

[2019-10-15 19:55] chloesun opened #249 "Can I specify the linkLenghth for specific links?"
Hello, I'm new to this tool, and I wonder how to specify link length for certain links?
`d3.linkLength` is set up for all the links, and I want to make certain links longer than the default length.

I tried to add an attribute in the links like
`{ source: 'abc', target: 'def', linkLength: 1300 }`, but didn't work.

Does this feature exist? Thank you!

[2019-10-16 10:20] gopherine commented on #234
@danielcaldas  When i update the library i dont see the respective change ... do i need to wait for next update or is there a way to install the cutting edge version of the library itself.

[2019-10-16 19:57] chloesun opened #250 "Add more attributes for Nodes"
Thanks for sharing this amazing tool! I'm using this tool to build an org chart, and I wonder is it possible to add more self-defined attributes(besides id) like `title`, `city`....etc  for individual nodes.
This doesn't work for now:
[code]

Thanks for any input!

[2019-10-16 23:15] gopherine commented on #250
i think adding title city etc etc is more usecase specific does not really make sense to me for this library  and there is already node label which can be used

[2019-10-17 01:02] AngelsProjects commented on #235
can I take it? it's really simple... it already took too much time of this issue

[2019-10-17 11:13] gopherine commented on #235
I have already made the changes i am making a PR  i guess you can review it @danielcaldas

[2019-10-20 14:21] danielcaldas commented on #235
Passing the ownership of the issue to @gopherine since you stepped up with the PR already :slightly_smiling_face:

[2019-10-20 14:36] danielcaldas commented on #250
Hey, @chloesun that's totally the case already! You can pass any custom properties within links and nodes objects, just as you have in your example. The feature you are looking for is probably the [node.viewGenerator](https://goodguydaniel.com/react-d3-graph/docs/index.html#config-node) that allows you to render your own node :slightly_frowning_face: You can check out [this example](https://github

[2019-10-20 14:39] danielcaldas commented on #249
Hello @chloesun, unfortunately, that feature is not supported, you can only specify link length at the global level through the config [d3.linkLength](https://goodguydaniel.com/react-d3-graph/docs/index.html#config-d3). I currently have no time to dedicate to this feature. PRs are welcome!  :slightly_smiling_face:

[2019-10-20 14:39] danielcaldas commented on #249
@chloesun  Small note, please try and open issues with the issue template provided in this project, thanks in advance.

[2019-10-20 14:42] danielcaldas commented on #192
Hey, @ashish10677 this issue is up for grabs, I'll assign it to you.

[2019-10-20 14:47] danielcaldas opened #252 "Custom node example is not loading on the sandbox"
**Describe the bug**
[Custom node link](https://goodguydaniel.com/react-d3-graph/sandbox/index.html?data=custom-node) (that is accessed through `?data=custom-node`) it's not working the correct dataset.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://goodguydaniel.com/react-d3-graph/sandbox/index.html?data=custom-node
2. A warning will appear on the console.

**Expected behavio

[2019-10-20 20:08] Kyle-Ski commented on #252
I'll start to take a look at this. I'll also report back here if I run into any issues/

[2019-10-20 21:06] Kyle-Ski commented on #252
Got a fix pushed up 👍 Just waiting on the CI tests now!

[2019-10-21 11:33] danielcaldas commented on #252
Hey, @Kyle-Ski thanks a lot for looking into it 👍 I'll try and check it out asap.

[2019-10-21 19:44] chloesun commented on #250
@danielcaldas Thank you very much!

[2019-10-21 19:49] #250 closed

[2019-10-23 13:38] gopherine commented on #192
if this is not yet done i will take it up also if possible can i get the list of all these local global changes i will implement them at once i see similar issues in here regarding the same

[2019-10-23 13:46] ashish-param commented on #192
@gopherine you can take up the issue. I'm travelling this week and won't be able to do anything. @danielcaldas can you assign it to @gopherine

[2019-10-30 11:54] danielcaldas commented on #192
Hey @gopherine go ahead I'll assign this to you :slightly_smiling_face:

[2019-10-30 16:19] halworsen opened #255 "Marker color isn't set for individually colored links"
**Describe the bug**
When setting link colors in the graph data for directed graphs, the marker/arrowhead's color stays the color that was defined in the global graph config. This also happens when link colors aren't explicitly set in the graph config.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the ![sandbox](https://goodguydaniel.com/react-d3-graph/sandbox/index.html)
2. Tick the

[2019-11-02 15:06] danielcaldas commented on #255
Hey, @halworsen thanks a lot for the report! Unfortunately this is the default behavior of the [markers](https://github.com/danielcaldas/react-d3-graph/blob/master/src/components/graph/graph.renderer.jsx#L117). [Markers are cached](https://github.com/danielcaldas/react-d3-graph/blob/master/src/components/graph/graph.renderer.jsx#L117) at the first mount of react-d3-graph, afterward the changes in

[2019-11-02 15:31] danielcaldas commented on #252
Fixed with https://github.com/danielcaldas/react-d3-graph/pull/256

[2019-11-02 15:31] #252 closed

[2019-11-03 19:47] thebuoyant opened #257 "Not able to stop animation effect"
**Describe the bug**
I'm not able to get the right configuration to stop the (annoying) animation effect while screen renders

[2019-11-04 14:40] StevenHeven opened #258 "Possibility to move node in static graph"
**Is your feature request related to a problem? Please describe.**
I made a tree graph with your graph library.
![TreeGraph](https://zupimages.net/up/19/45/o8n0.png)
To do that, i set config with static property to true to can set x & y postion of my nodes. But I can't move node like graph with no static property., because when it is false, you set state for graph render ...

**Describe the soluti

[2019-11-04 15:17] #258 closed

[2019-11-04 16:00] StevenHeven commented on #258
I'm really sorry, I didn't see the "staticGraphWithDragAndDrop" property for config ....  You can delete this issue ....

[2019-11-06 11:18] StevenHeven opened #259 "Multiple node selection"
**Describe your use case**
I made a modeler with your librairy and i want to delete node, but i can actually do that one per one .... It will be great if I can, with ctrl key + click on node to select multiple node. I can't do that actually because your method `onClickNode()` dont pass event object....

**Describe alternatives you've considered**
Maybe juste passed event object in your function `o

[2019-11-06 12:50] MinaAmrouche opened #260 "Nodes don't highlight when using node callbacks"
**Describe the bug**
When using `onMouseOverNode` and `onMouseOutNode` callbacks, nodes are not highlighted anymore.
You can find a sandbox link below that reproduces the bug.
Tell me if you need more details!

**To Reproduce**
https://codesandbox.io/s/highlighted-nodes-egcjf

**Environment:**
 - OS: OSX
 - Browser: chrome
 - Version: 78
 - Node version: 12.10.0
 - react-d3-graph version: 2.3.0
 -

[2019-11-07 19:43] felipeboffnunes opened #261 "automaticRearrangeAfterDropNode - play button from live demo"
I want to know how to recreate the effect of rearranging the nodes after I mode a node.
This feature is shown in the live demo by the play button.
From the documentation I haven't been able to see how to do it.

[2019-11-07 19:49] felipeboffnunes commented on #261
Note: I am using automaticRearrangeAfterDropNode = true, but it doesn't seem to make a difference. I move a node and no other node follows it.

[2019-11-07 19:53] felipeboffnunes commented on #261
Apparently you can't have nodeHighlightBehavior: true, I didn't know that from the documentation, maybe it could be an update to the docs. I will close the issue now.

[2019-11-11 08:44] gopherine commented on #192
sorry for the delay i got busy with university :) i will dive back into it today or tommorow

[2019-11-11 11:42] danielcaldas commented on #257
`staticGraph: true`

[2019-11-11 11:42] #257 closed

[2019-11-11 11:43] danielcaldas commented on #258
Hey, nice use case you have there, the tree looks pretty cool. The use case you described can definitely be achieved through `staticGraphWithDragAndDrop`, cheers!

[2019-11-11 11:50] danielcaldas commented on #259
Try this simple approach:

1. Create a button `Delete bulk`
2. When you click on `Delete bulk` you create an array of `nodesToDelete` in your local state
3. Now, every time you click in a node you add the id of that node fo `nodesTodelete`
4. Click on `Delete bulk` button again or some other button to confirm the bulk deletion. Loop through `nodesToDelete` and delete all those nodes

I think this

[2019-11-11 12:10] danielcaldas commented on #260
Hey there @MinaAmrouche thanks for the report with the detailed example. I'm not yet quite sure if I should label this as a bug, I need a bit more time to dig into it in more detail. I might be that the `useState` hook is working some magic to trigger a re-rendering with the old nodes data that does not have the highlighted state.. I'll look into it asap

[2019-11-11 12:11] danielcaldas commented on #261
Hey, thanks a lot for digging into this @felipeboffnunes! I'm re-opening the issue so that we don't forget to document this edge case limitation properly. Cheers!

[2019-11-11 12:14] danielcaldas commented on #261
Also, another thing to document on `automaticRearrangeAfterDropNode`. It won't take effect if this property is set after the first render. **It needs to be provided before the first render** in order to work properly.

[2019-11-11 12:14] danielcaldas commented on #192
np @gopherine! Thanks a lot for following up on this issue!

[2019-11-11 13:13] danielcaldas commented on #261
Closing this issue with https://github.com/danielcaldas/react-d3-graph/pull/262

[2019-11-11 13:13] #261 closed

[2019-11-11 19:20] DavidBates commented on #226
So glad I ran across this. I was facing the same issue of statically placing nodes in a hierarchical structure. Never occurred to me to calculate the offsets myself before rendering. It would be nice to have a setting where we could define groupings of nodes and levels so that we could dynamically generate a hierarchical structure.

[2019-11-13 11:11] selim-ammari opened #263 "Add tooltip about node information on onClickNode"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe your use case**
Write about what you're building and why do you need this feature.

**Describe alternatives you've considered**
A

[2019-11-13 11:46] danielcaldas commented on #263
Hello @selim-ammari  as mentioned before

Please use [custom nodes](https://goodguydaniel.com/react-d3-graph/sandbox/index.html?data=custom-node) where you can define yourself a tooltip.

This is a duplicated issue, already mentioned in: https://github.com/danielcaldas/react-d3-graph/issues/222 and https://github.com/danielcaldas/react-d3-graph/issues/46

[2019-11-13 11:46] #263 closed

[2019-11-13 11:48] danielcaldas commented on #263
Please use the issues template (feature/bug) (properly filled in) so that we have a more contextualized overview on what exactly your problem or use case is.

[2019-11-14 14:35] Kav91 opened #264 "onNodePositionChange doesn't always trigger"
**Describe the bug**
As title

**To Reproduce**
Had staticGraphWithDragAndDrop set to true
Moved node back and forth a few times, then eventually under some weird dragging condition it does not trigger.

**Expected behavior**
Always trigger when node position changed

**Environment:**
  "dependencies": {
    "d3": "^5.12.0",
    "prop-types": "^15.6.2",
    "react": "^16.6.3",
    "react-contexify

[2019-11-15 09:28] danielcaldas commented on #264
Looking into it now, I really don't see a problem to remove the delta validation. It will be way more transparent to the client; even if the coordinates don't change it is still cleaner to execute the callback `onNodePositionChange` 🙂 Feel free to submit a PR

[2019-11-15 10:02] antoninklopp opened #265 "Arrows don't point to nodes as expected"
**Describe the bug**
The arrows when **directed** is checked and they are either before the element or after.

**To Reproduce**
Steps to reproduce the behavior:
Check the [sandbox example](https://goodguydaniel.com/react-d3-graph/sandbox/index.html?data=custom-node) with this directed checked. The arrows are behind the images.

**Expected behavior**
The arrows should point onto the element

**Envi

[2019-11-16 02:09] danielcaldas commented on #265
Hey there @antoninklopp thanks for reporting. Although in fact you see the arrows underneath the image in that example, that's not the usual behavior. In the example it happens because the node is manipulated by the client (im this case the example Sandbox integration) to shape the node with some custom elements and there's probably some resizing involved as well. The library core is not aware of

[2019-11-16 02:21] danielcaldas commented on #264
Fixed with https://github.com/danielcaldas/react-d3-graph/pull/266

[2019-11-16 02:21] #264 closed

[2019-11-16 09:11] antoninklopp commented on #265
What I don't really get is that, in my example, I'm drawing a simple circle with a div with 50% border and 100% width and height.
I choose circle in the config.

With these information, the library should be aware of the form and size of my object, but the arrow still lies under my object.
I, of course, understand the difficulty to make the arrow point towards any object, customized very complicat

[2019-11-19 08:47] antoninklopp commented on #265
Hi @danielcaldas ,

After investing a bit where we could add this in the code, I think that the right place is [here](https://github.com/danielcaldas/react-d3-graph/blob/d03ecffd35e2e24fc08ef60c76539d558c06799a/src/components/graph/graph.builder.js#L56)

With adding and subtracting the size * unit_vector of linked nodes we could have better results for arrows.
There would be the simple code change

[2019-11-19 14:18] StevenHeven commented on #259
Hi @danielcaldas ,

Oh sorry for the late, i didn't have notifcation about of somes answer!
Yes, I think this solution will work !
I wanted just select nodes by click. For exemple, i want to build link when client click on one, and with Ctrl key and click on antoher, than build link.

But i think to pass by button works !

I try that and say in future if it work ! ;)

Thanks for your reply and you

[2019-11-19 14:21] StevenHeven commented on #258
Hi @danielcaldas ,

Haha thx dude ^^
Yes, the staticGraphWithDragAndDrop work for what I need ;)

Cheers ;)

[2019-11-19 16:57] danielcaldas commented on #265
That could be an approach and it looks very promising, we could potentially set it up only from circles and slowly increment from there :+1:

[2019-11-19 16:58] danielcaldas commented on #259
Glad to help @StevenHeven! Closing this one.

[2019-11-19 16:58] #259 closed

[2019-11-20 12:21] AlmogBakhshi opened #268 "getting warning about componentWillUnmount"
Hey,

**Describe the bug**
I get a warning about componentWillUnmount when I switch pages (only when I switch quickly).

**Screenshots**
![Capture](https://user-images.githubusercontent.com/44566371/69236205-b738a280-0b9b-11ea-8eba-75be165f2cf5.PNG)

**Environment:**
 - OS: windows 10
 - Browser: chrome
 - Version: 78.0.3904.97
 - Node version: 12.8.1
 - react-d3-graph version: 2.3.0
 - react vers

[2019-11-20 14:06] BinWu1989 opened #269 "All Nodes Are Overlap together"
I use the demo in the document for demo ,but the result is all the nodes and links are overloped ,Is there any adivse for it? here is the code ,Please give me some advise, thanks
`import React from 'react';
import PropTypes from 'prop-types';
import { request } from '../../../globalLib';
import { Graph } from 'react-d3-graph';

import './ServiceTypology.scss';

const myConfig = {
  nodeHighlightBe

[2019-11-20 14:08] danielcaldas commented on #268
Thanks for reporting will take a look as soon as possible, in the meantime feel free to share with me any other discoveries that might help us stabilize the issue. Also PRs are always welcome :slightly_smiling_face:

[2019-11-20 14:09] BinWu1989 commented on #269
@danielcaldas  can you help me have a look ,and give me some advise ?Thanks

[2019-11-20 15:06] AlmogBakhshi commented on #268
I understood why its happen.
Every time that i switch page, I have to enter data = null.
(I did a single page and using mobx, so the data stays alive)

[2019-11-20 15:14] danielcaldas commented on #269
It looks like you have something breaking the page  (some runtime JS error maybe?). Can you please provide a link to the repo and/or check if you actually have some errors in the console? Cheers!

[2019-11-20 15:15] danielcaldas commented on #211
Fixed with https://github.com/danielcaldas/react-d3-graph/pull/246

[2019-11-20 15:15] #211 closed

[2019-11-20 16:22] StevenHeven opened #270 "Wrong/Strange position nodes with Material-UI"
Hi ! It's me again ^^

 I've made my tree graph  with `staticGraph `property to true and I'd a good shape of tree diagram (see the first image of Sreenshot section)

So, to build a modeler, i set the `staticGraphWithDragAndDrop` to true and i've got this graph with that (see the 2nd picture of Screenshot section)

But i use Material UI for UI interface of my react app, and I made this system :
You

[2019-11-21 02:13] BinWu1989 commented on #269
no, there is no errro shows in the console,

[2019-11-23 15:22] danielcaldas commented on #269
Hey there @BinWu1989 do you have a repo where the example is reproducible?

[2019-11-24 02:10] danielcaldas commented on #270
Hey there @StevenHeven, try the following:

[code]

Try to get the graph `data` from your state and not pass in a new model at every render, otherwise, you're resetting the graph internal data. Not sure though, just a wild guess from a rough look at your implementation. If possible share the repo with the working example. Thanks!

[2019-11-24 16:45] StraightOuttaCrompton opened #272 "automaticRearrangeAfterDropNode doesn't work correctly if nodeHighlightBehavior is true"
**Describe the bug**
If nodeHighlightBehavior is true, then the node rearrange behaviour is different to when nodeHighlightBehavior is false.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://goodguydaniel.com/react-d3-graph/sandbox/index.html
2. Set automaticRearrangeAfterDropNode: true
3. Click fullscreen
4. Drag a well connected node somewhere (Note that the nodes rearrange as

[2019-11-25 14:11] danielcaldas commented on #272
Hey there @SachinVarghese this is in fact a known limitation of the library, it is documented in the [official documentation pages for the latest version](https://goodguydaniel.com/react-d3-graph/docs/index.html):

![image](https://user-images.githubusercontent.com/11733994/69547401-7e9c2d00-0fd0-11ea-87c8-bae31922b07a.png)

I'll tag this as an improvement, feel free to submit a PR :slightly_smili

[2019-11-25 17:13] StraightOuttaCrompton commented on #272
I missed that it was in the documentation.

I'm happy to try and have a look sometime this week, but I'm not sure where I would start looking. Do you have any ideas about what could be causing the issue?

Also, thank you for your hard work, I really like this library!

[2019-11-29 11:07] duzumaki commented on #269
I'm getting this issue too

[2019-11-30 02:47] danielcaldas commented on #269
Oh actually this is expected behavior if you do not provide initial x and y coordinates :smile:

[From the official docs](https://goodguydaniel.com/react-d3-graph/docs/index.html):

### How to provide initial coordinates?
The live demo example does the same thing, [source code in Sandbox.jsx](https://github.com/danielcaldas/react-d3-graph/blob/master/sandbox/Sandbox.jsx#L242):

[code]

[2019-11-30 02:56] danielcaldas commented on #192
Fixed with https://github.com/danielcaldas/react-d3-graph/pull/267

[2019-11-30 02:56] #192 closed

[2019-12-01 07:47] azraeiden commented on #269
Hi @danielcaldas I am also getting this issue. I'm quite new to React and Javascript, but here is what I do know.
-I am using Material UI for the background.
-If I just call a static render of a graph with static data, the graph nodes appear properly spaced.
-However, when I wrap this inside a higher order component that grabs data from AWS Appsync and passes that data through to the graph, which

[2019-12-01 08:21] danielcaldas commented on #269
Hey @azraeiden try to look at the integration in [Sandbox.jsx](https://github.com/danielcaldas/react-d3-graph/blob/master/sandbox/Sandbox.jsx) to see how to properly wrap `react-d3-graph`. Also Depending on the version of `react` you're using you might want to look into [React.memo ](https://reactjs.org/docs/react-api.html#reactmemo) to avoid re-rendering the graph every time something changes at

[2019-12-02 16:11] StevenHeven commented on #270
Hi @danielcaldas ,

Thx for your answer. I can't share to you my repo, because it's project build in compagny who i work...
I tried what did you say, pass model by the state, but no changes ...
I didn't understand .... data object have the good position set in my data object, but i believe it don't want to set good position in UI ....

Do you have any ideas ?

[2019-12-02 21:03] hfgbarrigas opened #273 "Link particles"
Took a look at the documentation but didn't find any reference to this. Can this library support particles effect in links? If not, I noticed linkType, are you planning to extend this to allow user's to render the link through a custom function?

Thank you for the library :)

[2019-12-04 11:42] z-sanjivini opened #274 "Positioning nodes with x and y"
I have been using the default example given and was simply playing around with the config.

[code]
Each time I run this code, even when the coordinates have been hardcoded, I get new positions. Why is that so since they should now be fixed. I would like to simply create a tree structure with siblings getting equally spaced, how do I calculate these coordinates. Could you please explain?

[2019-12-04 12:30] danielcaldas commented on #270
Actually... now that I look at your example I think you should multiply each coordinate x,y pair by the graph container viewport resize ratio, explaining;

If the nonfull screen is 800x400 and fullscreen is 1600x800, when going from fullscreen mode to the lower resolution you should multiply the positions by `.5`.

Have you tried something like this?

[2019-12-04 12:34] danielcaldas commented on #273
I'm open to such an extension. The current API supports custom nodes already via `node.viewGenerator`, maybe we could have a `link.viewGenerator` to allow clients to feed in a custom render function.

I currently don't have time to perform such changes, but pull requests are welcome! :) Also if possible please use the issue template (there's one for feature requests specifically), it helps a lot.

[2019-12-04 12:37] danielcaldas commented on #274
@StevenHeven maybe you could share a bit no your experience of displaying tree-like structure with react-d3-graph :slightly_smiling_face: (sorry to tag you here directly :see_no_evil: )

[2019-12-05 05:10] z-sanjivini commented on #274
Also, even after fixing the coordinates why do the node's position change everytime on re-rendering? I believed that they would remain in constant positions.

[2019-12-09 19:16] #208 closed

[2019-12-11 02:53] christan0612 opened #275 "Can't change arrow's color"
Thanks for great tool.
I add color for link level,
and set directed config,
but the arrows color doesn't change.

<img width="238" alt="螢幕快照 2019-12-11 上午10 52 26" src="https://user-images.githubusercontent.com/13992085/70587245-69e0ab80-1c04-11ea-9ca0-5da6ace7e4fc.png">

I have no idea how to change it.
Can somebody give me a hand?

[2019-12-11 03:12] christan0612 commented on #275
sorry, I see #255

[2019-12-11 03:12] #275 closed

[2019-12-11 04:45] gopherine opened #276 "Unable to get latest changes on master branch?"
I see some recent changes on master branch like local link type which i am unable to install. I tried yarn add react-d3-graph@latest. But it does not seem to work i dont get what am i doing wrong it seems to always install the previous version ?

[2019-12-11 10:15] gopherine opened #277 "warning: Key error on same link with different link types ?"
**Is your feature request related to a problem? Please describe.**

[code]
I get this key error, on the same edge with different type i.e line and curve_full for eg: This is likely because the keys are named based on the link however these links based on the type should be treated separately to avoid this warning.

**Describe the solution you'd like**
A possible solution would be to attach type of

[2019-12-11 11:43] StevenHeven commented on #274
Hi @z-sanjivini ,

I launched your code and, except that you have nodes with the same x values, it works.

Afterwards, to create a kind of tree with child-parent relationships, you must first walk your tree like roads.
Let me explain:
You have to go through your graph from the beginning, and go up via the links to know who the children of the node being looked at are, and then create a table of yo

[2019-12-11 11:53] antoninklopp commented on #274
@StevenHeven I also had problem with node positioning, even with gravity at 0 and different positions they get rearranged by d3. How do you get around this problem?

[2019-12-11 14:00] StevenHeven commented on #274
I don't understand how you get this trouble because i run your code and it's work :
![your_graph_work](https://zupimages.net/up/19/50/x9g3.png)

With your code upper ....

[2019-12-11 14:17] StevenHeven commented on #270
@danielcaldas  dude, i didn't see your answer and .... you're right ... IT'S WORK !!!!!!
Thanks a lot ;)

[2019-12-11 14:28] StevenHeven commented on #270
Yes i tried but it doesn't worked .... :(
I'll try to made a minio project for you can manipulate and check what's going on ....

[2019-12-11 17:12] StevenHeven commented on #270
I create mini project with code upper.
If you want to check and manipulate to find the fix ... have fun ^^

[Graph-Mini-Project-Position-Bug](https://github.com/StevenHeven/graph_issues_prototype_ts)

[2019-12-12 09:05] StevenHeven commented on #274
If you want to see how i made my tree graph, you can check the [Issue#270](https://github.com/danielcaldas/react-d3-graph/issues/270) to see the code ;)

[2019-12-12 13:32] antoninklopp commented on #274
@StevenHeven, I can reproduce the problem here ([link to sandbox](https://codesandbox.io/s/nifty-austin-cvxu8?fontsize=14&hidenavigation=1&theme=dark))
The real problem is that the `d3.linkLength` rearranges the nodes alone.

In my example, 3 nodes should be at the same level at the bottom, and one above the second one, like this :
![without-links](https://user-images.githubusercontent.com/2683897

[2019-12-12 14:17] antoninklopp commented on #274
After looking a bit at the code, I found exactly the behavior I'd like to have :
Changing the function [here](https://github.com/danielcaldas/react-d3-graph/blob/d03ecffd35e2e24fc08ef60c76539d558c06799a/src/components/graph/Graph.jsx#L180)

From :

[code]

To :

[code]

It lets my config as I described it in the doc.
@danielcaldas Is it possible to override this behavior, or at least to override i

[2019-12-12 14:27] antoninklopp commented on #276
I think that the latest changes from master branch were not published to npm, since version 2.3.0 is the latest and was released 3 months ago.
It seems normal that you can't get the latest changes from npm then 😃

[2019-12-12 14:34] gopherine commented on #276
I got that but i need those changes urgently is there another way to get it , up and running i tried to directly npm install github but i was unable to import the package for some reason i dont know what i am doing wrong here.
Thanks and Regards :)

[2019-12-12 15:33] antoninklopp commented on #276
I can install the master branch version with :

`npm i danielcaldas/react-d3-graph`

 and I get the latest changes.
However, I don't know if it works in package.json

[2019-12-13 09:14] danielcaldas commented on #275
Thank you for cleaning up @christan0612 🙂

[2019-12-13 09:18] danielcaldas commented on #277
Hey there @gopherine, currently we only consider the ids of `source` and `target` nodes to create the link `ref` attribute, on [graph.renderer.jsx](https://github.com/danielcaldas/react-d3-graph/blob/master/src/components/graph/graph.renderer.jsx#L42):
[code]

We could potentially append the `link.type` if that would fix your issue. I think no side effect would arise from that.

[2019-12-13 09:21] danielcaldas commented on #270
Thanks for sharing the link to the project. I currently don't have time to look into it. I added the`help wanted` tag, maybe someone would be available to dive into this issue. Otherwise, I would pick it up as soon as I have some time. Thanks, @StevenHeven!

[2019-12-13 09:26] danielcaldas commented on #274
I currently don't have time to look into it in more detail, but my approach would be something like:

1. Create a new config to disable link force and simulation

[code]

2. Implement changes according to the config

[code]

Let me know if you're willing to give this a try, cheers!

[2019-12-13 09:31] danielcaldas commented on #276
The latest release happened on Sep 15, 2019. `react-d3-graph@2.3.0`. To install this library from the source you can use [git URLs to specify your dependency](https://docs.npmjs.com/cli/install#synopsis) ([see reference](https://docs.npmjs.com/cli/install#synopsis)) in the `package.json`, but be aware that you will grab the library at the head of the master branch at each install that you perform.

[2019-12-13 09:40] StevenHeven commented on #270
Oh okey, no problem dude, thx in advance to you or someone who take a look to fix this ! ;)

[2019-12-13 09:41] antoninklopp commented on #274
Sure I will do a PR for this one !

[2019-12-13 13:48] gopherine commented on #277
yes, this would fix my issue for now, but then potentially the same two nodes can have not just two but even more edges for example - I am working on an algorithm where my I have three different types of edges global hidden and local edge. This would be some kind of major change I think so as each edge on the same node can be detected individually also without key error it is highly possible that

[2019-12-13 14:22] gopherine commented on #276
So, I tried all the above can pull it in general problem comes when I am trying to import it. I checked in node modules now it is kind of importing the whole repo so I have to import something like::
`import { Graph } from "react-d3-graph/src"`

however, I am getting this error now

[code]

[2019-12-17 19:25] justinsvegliato commented on #209
Is there any way to get the labels to be centered on the link?

[2019-12-19 16:30] StevenHeven opened #280 "Wrong position store if we set position after dragEnd"
**Describe the bug**
There is mistake when you drag a node : at the end of drag event, you set node positions to align or set fixed position of your graph's shape wanted -> it translate at the good position but if you drag again after, it move in another positions (the position when you unselect node after previous drag).
I made a modeler with tree shape and i want to reposition node after drag to

[2019-12-19 17:03] StraightOuttaCrompton opened #281 "d3 config behaviour differs after graph is rerendered"
**Describe the bug**
The behaviour of a graph with the d3 config set appears to change after a rerender.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repository at https://github.com/StraightOuttaCrompton/react-d3-graph-rearrange-issue
2. Follow bug replication instructions in README

**Expected behavior**
On graph re-render, d3 config should have no impact on appearance change

[2019-12-19 17:10] StraightOuttaCrompton commented on #281
I have noticed that this issue has been touched upon before in issue https://github.com/danielcaldas/react-d3-graph/issues/162

In the edit @sauln says

@danielcaldas says

However I could not find the separate issue

[2019-12-23 05:43] danielcaldas commented on #276
@gopherine, if you want to import from `src` you need to transpile the `Graph` component and its dependencies, just like [I do here](https://github.com/danielcaldas/react-d3-graph/blob/master/webpack.config.js#L18). You'll probably need to whitelist `react-d3-graph` from your webpack (or whatever bundler tools you're using).

[2019-12-25 15:31] LazzyLizzard opened #282 "Is there a way to display a popup or popover near a node?"
I'd like to have an ability to render custom component on `onMouseOverNode` instead of plain text. I tried to return just styled `div` but the was no label at all. If there's a way to do it I'd to know it.

[2019-12-26 08:32] #282 closed

[2020-01-06 11:07] Gangeshwar3 opened #283 "How to highlight the child nodes which are having relationship with other nodes's childrens?"
**Describe your use case**
Write about what you're building and why do you need this feature.
I want to show the common relationship with other nodes
![reactd3](https://user-images.githubusercontent.com/39775325/71814432-607f1d80-30a2-11ea-97a1-b8350d226bc7.png)

[2020-01-09 17:58] azraeiden opened #284 "OnNodePositionChange fires unreliably."
**Describe the bug**
When creating a graph with OnNodePositionChange set to a function, upon manually moving a node, the OnNodPositionChange function only fires sometimes.

**To Reproduce**
Steps to reproduce the behavior:

The most basic graph i can create, where I copy the 3 node example into a create-react-app, exhibits this behavior

Code:
App.js:
//////////////////////////////////////////////

[2020-01-10 07:43] pushpinder107 opened #285 "Nodes can be dragged/created outside the viewport"
**Describe the bug**
The nodes in a graph can be dragged outside the viewport. On dragging a node outside the viewport, it becomes invisible (svg overflow is not set). Also, on dynamically adding new nodes (like in the sandbox examples), it is possible that the newly added node renders outside the viewport.

**To Reproduce**
Steps to reproduce the behavior:
Open any sandbox dataset demo and drag a

[2020-01-11 11:06] pushpinder107 opened #287 "Deleting node is sandbox breaks the demo if the number of nodes reaches 0"
**Describe the bug**
Deleting node is sandbox breaks the demo if the number of nodes reaches 0. The error message in the console is descriptive but the app crashes and the page needs to be refreshed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://goodguydaniel.com/react-d3-graph/sandbox/index.html
2. Click on the '-' button to delete nodes
3. Keep deleting nodes till node coun

[2020-01-11 16:03] danielcaldas commented on #274
Thanks @antoninklopp, closing this with https://github.com/danielcaldas/react-d3-graph/pull/278

[2020-01-11 16:03] #274 closed

[2020-01-11 16:07] danielcaldas commented on #277
@gopherine Would this be an `id` defined by the client-side? Meaning, you as a developer using `react-d3-graph` would have the responsibility of assigning the right id per each link? Or do you still think that is something that we should figure out internally within the library itself?